<section class="section sc-service">
    <div class="inner">
        <h2 class="sc-ttl main-ttl">our service</h2>

        <div class="pc">
            <ul class="service-list">
                <li class="service-item">
                    <a href="#" data-target="#modal01" class="link-service modal-toggle">
                        <div class="txt-area">
                            <h3 class="ttl">Viral Marketing</h3>
                            <p class="desc">
                                온라인 마케팅의 기본!<br>
                                나를 알리는 가장 빠른 방법
                            </p>
                            <button class="btn btn-ico btn-white"><span class="blind">서비스 팝업 열기</span></button>
                        </div>
                        <div class="img-area">
                            <img src="/img/hospital/img-service01.png" alt="" class="img">
                        </div>
                    </a>
                </li>
                <li class="service-item">
                    <a href="#" data-target="#modal02" class="link-service modal-toggle">
                        <div class="txt-area">
                            <h3 class="ttl">Homepage · Web</h3>
                            <p class="desc">
                                최신 트렌드와 기술을 반영한<br>
                                고퀄리티 웹 사이트 제작
                            </p>
                            <button class="btn btn-ico btn-white"><span class="blind">서비스 팝업 열기</span></button>
                        </div>
                        <div class="img-area">
                            <img src="/img/hospital/img-service02.png" alt="" class="img">
                        </div>
                    </a>
                </li>
                <li class="service-item">
                    <a href="#" data-target="#modal03" class="link-service modal-toggle">
                        <div class="txt-area">
                            <h3 class="ttl">Performans Marketing</h3>
                            <p class="desc">
                                마케팅은 데이터를 통한 정보전!<br>
                                나에게 맞는 최적의 광고를 셋팅
                            </p>
                            <button class="btn btn-ico btn-white"><span class="blind">서비스 팝업 열기</span></button>
                        </div>
                        <div class="img-area">
                            <img src="/img/hospital/img-service03.png" alt="" class="img">
                        </div>
                    </a>
                </li>
                <li class="service-item">
                    <a href="#" data-target="#modal04" class="link-service modal-toggle">
                        <div class="txt-area">
                            <h3 class="ttl">Video</h3>
                            <p class="desc">
                                이제는 영상을 통해 나를 알리자!<br>
                                영상을 통한 광고, 브랜딩의 시작
                            </p>
                            <button class="btn btn-ico btn-white"><span class="blind">서비스 팝업 열기</span></button>
                        </div>
                        <div class="img-area">
                            <img src="/img/hospital/img-service04.png" alt="" class="img">
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        
        <div class="mo">
            <div class="service-swiper swiper">
                <ul class="service-list swiper-wrapper">
                    <li class="service-item swiper-slide">
                        <a href="#" class="link-service">
                            <div class="card-cnt front">
                                <div class="txt-area">
                                    <h3 class="ttl">Viral Marketing</h3>
                                    <p class="desc">
                                        온라인 마케팅의 기본!<br>
                                        나를 알리는 가장 빠른 방법
                                    </p>
                                    <button class="btn btn-ico btn-white"><span class="blind">서비스 팝업 열기</span></button>
                                </div>
                                <div class="img-area">
                                    <img src="/img/hospital/img-service01.png" alt="" class="img">
                                </div>
                            </div>
                            <div class="card-cnt back">
                                <div class="txt-area">
                                    <div class="title-area">
                                        <p class="sub-title">Viral Marketing</p>
                                        <h2 class="modal-title">바이럴 마케팅</h2>
                                    </div>
                                    <p class="modal-desc">
                                        변화하는 디지털 환경 속에서 성공적인 비즈니스를 <br>
                                        위해서는 전략적이고 체계적인 마케팅이 필수입니다. <br>
                                        와커스는 다양한 플랫폼을 활용하여 맞춤형 콘텐츠와 <br>
                                        캠페인을 통해 광고 성과를 극대화합니다.
                                    </p>
                                    <div class="ico-area">
                                        <div class="ico-box">
                                            <i class="ico ico-naver"></i>
                                            <span class="blind">NAVER 로고</span>
                                        </div>
                                        <div class="ico-box">
                                            <i class="ico ico-google"></i>
                                            <span class="blind">google 로고</span>
                                        </div>
                                        <div class="ico-box">
                                            <i class="ico ico-ig"></i>
                                            <span class="blind">instagram 로고</span>
                                        </div>
                                        <div class="ico-box">
                                            <i class="ico ico-fb"></i>
                                            <span class="blind">facebook 로고</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="service-item swiper-slide">
                        <a href="#" class="link-service">
                            <div class="card-cnt front">
                                <div class="txt-area">
                                    <h3 class="ttl">Homepage · Web</h3>
                                    <p class="desc">
                                        최신 트렌드와 기술을 반영한<br>
                                        고퀄리티 웹 사이트 제작
                                    </p>
                                    <button class="btn btn-ico btn-white"><span class="blind">서비스 팝업 열기</span></button>
                                </div>
                                <div class="img-area">
                                    <img src="/img/hospital/img-service02.png" alt="" class="img">
                                </div>
                            </div>
                            <div class="card-cnt back">
                                <div class="txt-area">
                                    <div class="title-area">
                                        <p class="sub-title">Homepage · Web</p>
                                        <h2 class="modal-title">홈페이지 · 웹 개발</h2>
                                    </div>
                                    <p class="modal-desc">
                                        홈페이지는 병원의 첫 인상입니다.<br>
                                        우리 병원이 어떤 색깔을 가지고 어떤 브랜드를 갖고 있는지, 더 나아가 어떠한 차별점과 강점이 있는지를 가장 잘 나타낼 수 있는 중요한 방법입니다.<br>
                                        와커스는 이러한 홈페이지 및 웹 개발을 통해 병원만의 아이덴티티를 실현시켜 드리겠습니다.
                                    </p>
                                    <button class="btn btn-black">포트폴리오 바로가기</button>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="service-item swiper-slide">
                        <a href="#" class="link-service">
                            <div class="card-cnt front">
                                <div class="txt-area">
                                    <h3 class="ttl">Performans Marketing</h3>
                                    <p class="desc">
                                        마케팅은 데이터를 통한 정보전!<br>
                                        나에게 맞는 최적의 광고를 셋팅
                                    </p>
                                    <button class="btn btn-ico btn-white"><span class="blind">서비스 팝업 열기</span></button>
                                </div>
                                <div class="img-area">
                                    <img src="/img/hospital/img-service03.png" alt="" class="img">
                                </div>
                            </div>
                            <div class="card-cnt back">
                                <div class="txt-area">
                                    <div class="title-area">
                                        <p class="sub-title">Performance Marketing</p>
                                        <h2 class="modal-title">퍼포먼스 마케팅</h2>
                                    </div>
                                    <p class="modal-desc">
                                        성과 중심의 퍼포먼스 마케팅은 정확한 타겟층과 
                                        최적화된 광고 운영을 통해 최대의 ROI를 실현합니다.
                                        고객의 실제 반응을 실시간으로 분석하여 데이터를 
                                        통한 효율적인 예산 집행을 통해 마케팅 성과를 
                                        극대화합니다.
                                    </p>
                                    <div class="ico-area">
                                        <div class="ico-box">
                                            <i class="ico ico-google"></i>
                                            <span class="blind">google 로고</span>
                                        </div>
                                        <div class="ico-box">
                                            <i class="ico ico-yt"></i>
                                            <span class="blind">youtube 로고</span>
                                        </div>
                                        <div class="ico-box">
                                            <i class="ico ico-meta"></i>
                                            <span class="blind">meta 로고</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="service-item swiper-slide">
                        <a href="#" class="link-service">
                            <div class="card-cnt front">
                                <div class="txt-area">
                                    <h3 class="ttl">Video</h3>
                                    <p class="desc">
                                        이제는 영상을 통해 나를 알리자!<br>
                                        영상을 통한 광고, 브랜딩의 시작
                                    </p>
                                    <button class="btn btn-ico btn-white"><span class="blind">서비스 팝업 열기</span></button>
                                </div>
                                <div class="img-area">
                                    <img src="/img/hospital/img-service04.png" alt="" class="img">
                                </div>
                            </div>
                            <div class="card-cnt back">
                                <div class="txt-area">
                                    <div class="title-area">
                                        <p class="sub-title">Video</p>
                                        <h2 class="modal-title">영상 제작</h2>
                                    </div>
                                    <p class="modal-desc">
                                        현대 마케팅의 핵심인 영상 콘텐츠는 브랜드의 
                                        메시지를 감각적으로 전달할 수 있는 가장 효율적인 
                                        방법입니다. 와커스는 유튜브 채널 운영 관리, 스케치 
                                        영상, 숏폼 등 다양한 촬영 경험과 편집 그리고 마케팅 
                                        연계 기술을 통해 브랜드를 알리는데 효과적으로 
                                        접근할 수 있습니다.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </div>
</section>

<script is:inline>
    $(document).ready(() => {
        gsap.registerPlugin(SplitText, ScrollTrigger) 

        const split = new SplitText(".sc-service .main-ttl", {type: "chars"});
        const tween01 = gsap.from(split.chars, {
            yPercent: 10, 
            opacity: 0, 
            stagger: 0.05,
            ease: 'back(3)',
        });

        ScrollTrigger.create({
            trigger: '.sc-service',
            start: '0% 50%',
            end: '100% 50%',
            animation: tween01,
            toggleActions: 'play none none reverse',
        })

        
        ScrollTrigger.saveStyles(".pc, .mo");
        
        ScrollTrigger.matchMedia({
            
            "(min-width: 769px)": function() {
                const tl = gsap.timeline({
                    paused: true,
                    ease: 'linear'
                })
                .fromTo($('.sc-service .link-service'), {
                    duration: 1,
                    clipPath: 'inset(0 100% 0 0)',
                }, {
                    clipPath: 'inset(0 0% 0 0)',
                    stagger: {
                        each: .2
                    },
                })
                .from($('.sc-service .link-service .ttl'), {
                    yPercent: 10, 
                    opacity: 0, 
                }, '-=.7')
                .from($('.sc-service .link-service .desc'), {
                    yPercent: 10, 
                    opacity: 0, 
                }, '-=.5')

                ScrollTrigger.create({
                    trigger: '.sc-service .service-list',
                    start: '0% 50%',
                    end: '100% 50%',
                    onEnter: () => {
                        tl.play()
                    }
                })
            },

            "(max-width: 768px)": function() {
                const tl = gsap.timeline({ ease: 'linear' })
                .from($('.sc-service .mo .swiper-slide'), {
                    opacity: 0, 
                    yPercent: 10, 
                    stagger: {
                        each: .1
                    }
                })
                .fromTo($('.sc-service .mo .swiper-pagination'), {
                    opacity: 0, 
                    yPercent: 10, 
                    duration: .3
                }, {
                    opacity: 1,
                    yPercent: 0
                }, '-=.3')

                ScrollTrigger.create({
                    trigger: '.sc-service .mo .service-list',
                    start: '0% 50%',
                    end: '100% 50%',
                    animation: tl,
                    toggleActions: 'restart none none reverse'
                })
            },
        });

        function modal(){
            var $modal, $modalButton;
            $modalButton = $('.modal-toggle');
            $modalButton.on('click',function(e){
                e.preventDefault();
                $modal = $($(this).data('target'));
                openModal($modal);
            });
        }
        modal()
        
        function closeModal (
            $modal, 
            focusedElementBeforeModal = document.activeElement
        ){
            $('html, body').css('overflow', 'auto')
            $modal.addClass('modal-close');
            $modal.removeClass('active');
            focusedElementBeforeModal.focus();
        }

        function openModal (
            $modal, 
            focusableElementsString = '.modal-centered, a[href], area[href], input:not([disabled]), select:not([disabled]), textarea:not([disabled]), button:not([disabled]), iframe, object, embed, [tabindex="0"], [contenteditable]', 
            $modalCloseButton = $modal.find('.close')
        ){
            $('html, body').css({'overflow': 'hidden'})

            const scrollTop = $(window).scrollTop();
            $modal.css({'top': scrollTop + 'px'});

            $modal.addClass('active');

            $modal.on('keydown',function(e){
                trapTabKey(e);
            });

            $modal.on('click',function(e){
                if ($(e.target).closest('.modal-box').length < 1 && $('.modal-type02.active').attr('data-dim-click') !== 'false') {
                    closeModal($modal);
                }
            });

            $modalCloseButton.on('click',function(){
                closeModal($modal);
            })

            var focusableElements = $modal.find(focusableElementsString),
                focusableElements = Array.prototype.slice.call(focusableElements),
                firstTabStop = focusableElements[0],
                lastTabStop = focusableElements[focusableElements.length - 1];

            $($modal).removeClass('modal-close');
            firstTabStop.focus();

            function trapTabKey(e) {
                // Check for TAB key press
                if (e.keyCode === 9) {
                    // SHIFT + TAB
                    if (e.shiftKey) {
                        if (document.activeElement === firstTabStop) {
                            e.preventDefault();
                            lastTabStop.focus();
                        }
                    } else {
                        if (document.activeElement === lastTabStop) {
                            e.preventDefault();
                            firstTabStop.focus();
                        }
                    }
                }
                // ESCAPE
                if (e.keyCode === 27) {
                    closeModal($modal);
                }
            }
        }

        const serviceSwiper = new Swiper('.sc-service .swiper', {
            slidesPerView: 'auto',
            pagination: {
                el: '.sc-service .swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 3000,
                disableOnInteraction: true,
                enabled: false
            },
        });

        const checkFlipped = () => {
            const hasFlipped = document.querySelector('.sc-service .is-flipped');
            if (hasFlipped) {
                serviceSwiper.autoplay.stop();
            } else {
                serviceSwiper.autoplay.start();
            }
        };

        // ScrollTrigger로 autoplay 제어
        ScrollTrigger.create({
            trigger: '.sc-service .swiper',
            start: 'top 80%',
            end: 'bottom 20%',
            onEnter: () => serviceSwiper.autoplay.start(),
            onLeave: () => serviceSwiper.autoplay.stop(),
            onEnterBack: () => serviceSwiper.autoplay.start(),
            onLeaveBack: () => serviceSwiper.autoplay.stop()
        });

        const $card = $('.sc-service .link-service');
        $card.on('click', function(e){
            e.preventDefault();
            $(this).toggleClass('is-flipped');
            checkFlipped()
        })
    })
</script>

<!-- 바이럴 마케팅 -->
<div class="modal-type02 modal-close" id="modal01">
    <div class="modal-centered" tabindex="0">
        <div class="modal-box">
            <button type="button" class="btn btn-modal-close close">
                <span class="blind">닫기</span>
            </button>

            <div class="modal-content">
                <div class="img-area">
                    <img src="/img/hospital/img-service01.png" alt="" class="img">
                </div>
                <div class="txt-area">
                    <div class="title-area">
                        <p class="sub-title">Viral Marketing</p>
                        <h2 class="modal-title">바이럴 마케팅</h2>
                    </div>
                    <p class="modal-desc">
                        변화하는 디지털 환경 속에서 성공적인 비즈니스를 <br>
                        위해서는 전략적이고 체계적인 마케팅이 필수입니다. <br>
                        와커스는 다양한 플랫폼을 활용하여 맞춤형 콘텐츠와 <br>
                        캠페인을 통해 광고 성과를 극대화합니다.
                    </p>
                    <div class="ico-area">
                        <div class="ico-box">
                            <i class="ico ico-naver"></i>
                            <span class="blind">NAVER 로고</span>
                        </div>
                        <div class="ico-box">
                            <i class="ico ico-google"></i>
                            <span class="blind">google 로고</span>
                        </div>
                        <div class="ico-box">
                            <i class="ico ico-ig"></i>
                            <span class="blind">instagram 로고</span>
                        </div>
                        <div class="ico-box">
                            <i class="ico ico-fb"></i>
                            <span class="blind">facebook 로고</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 홈페이지 · 웹 개발 -->
<div class="modal-type02 modal-close" id="modal02">
    <div class="modal-centered" tabindex="0">
        <div class="modal-box">
            <button type="button" class="btn btn-modal-close close">
                <span class="blind">닫기</span>
            </button>

            <div class="modal-content">
                <div class="img-area">
                    <img src="/img/hospital/img-service02.png" alt="" class="img">
                </div>
                <div class="txt-area">
                    <div class="title-area">
                        <p class="sub-title">Homepage · Web</p>
                        <h2 class="modal-title">홈페이지 · 웹 개발</h2>
                    </div>
                    <p class="modal-desc">
                        홈페이지는 병원의 첫 인상입니다.<br>
                        우리 병원이 어떤 색깔을 가지고 어떤 브랜드를 갖고 있는지, 더 나아가 어떠한 차별점과 강점이 있는지를 가장 잘 나타낼 수 있는 중요한 방법입니다.<br>
                        와커스는 이러한 홈페이지 및 웹 개발을 통해 병원만의 아이덴티티를 실현시켜 드리겠습니다.
                    </p>
                    <button class="btn btn-black">포트폴리오 바로가기</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 퍼포먼스 마케팅 -->
<div class="modal-type02 modal-close" id="modal03">
    <div class="modal-centered" tabindex="0">
        <div class="modal-box">
            <button type="button" class="btn btn-modal-close close">
                <span class="blind">닫기</span>
            </button>

            <div class="modal-content">
                <div class="img-area">
                    <img src="/img/hospital/img-service03.png" alt="" class="img">
                </div>
                <div class="txt-area">
                    <div class="title-area">
                        <p class="sub-title">Performance Marketing</p>
                        <h2 class="modal-title">퍼포먼스 마케팅</h2>
                    </div>
                    <p class="modal-desc">
                        성과 중심의 퍼포먼스 마케팅은 정확한 타겟층과 
                        최적화된 광고 운영을 통해 최대의 ROI를 실현합니다.
                        고객의 실제 반응을 실시간으로 분석하여 데이터를 
                        통한 효율적인 예산 집행을 통해 마케팅 성과를 
                        극대화합니다.
                    </p>
                    <div class="ico-area">
                        <div class="ico-box">
                            <i class="ico ico-google"></i>
                            <span class="blind">google 로고</span>
                        </div>
                        <div class="ico-box">
                            <i class="ico ico-yt"></i>
                            <span class="blind">youtube 로고</span>
                        </div>
                        <div class="ico-box">
                            <i class="ico ico-meta"></i>
                            <span class="blind">meta 로고</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 영상 제작 -->
<div class="modal-type02 modal-close" id="modal04">
    <div class="modal-centered" tabindex="0">
        <div class="modal-box">
            <button type="button" class="btn btn-modal-close close">
                <span class="blind">닫기</span>
            </button>

            <div class="modal-content">
                <div class="img-area">
                    <img src="/img/hospital/img-service04.png" alt="" class="img">
                </div>
                <div class="txt-area">
                    <div class="title-area">
                        <p class="sub-title">Video</p>
                        <h2 class="modal-title">영상 제작</h2>
                    </div>
                    <p class="modal-desc">
                        현대 마케팅의 핵심인 영상 콘텐츠는 브랜드의 
                        메시지를 감각적으로 전달할 수 있는 가장 효율적인 
                        방법입니다. 와커스는 유튜브 채널 운영 관리, 스케치 
                        영상, 숏폼 등 다양한 촬영 경험과 편집 그리고 마케팅 
                        연계 기술을 통해 브랜드를 알리는데 효과적으로 
                        접근할 수 있습니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>