<div class="line_mouse_section">
    <div class="horizontal-bar"></div>
    <div class="vertical-bar"></div>
    <section class="MainSectionRecruit s2 ">   
        <div class="recruit-top">
            <div class="recruit-msg">           
                <p class="Typography typo-ani">
                    <span class="text-wrap">Get on Track</span>
                </p>
                <p class="sub">고객의 프로젝트를 성공 궤도에 올리고 있습니다.</p>         
            </div>
        </div>
        <div class="recruit-slide-box">
            <div class="recruit-slide-container">
                <ul class="recruit-slide-wrap">
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="0">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_1.webp" alt="">
                            </div>
                            <div class="slide-text">SEO</div>
                            <div class="slide-tag"><span>#상위노출</span><span>#최적화</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="1">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_2.webp" alt="">
                            </div>
                            <div class="slide-text">Planning</div>
                            <div class="slide-tag"><span>#목표달성</span><span>#실행</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="2">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_3.webp" alt="">
                            </div>
                            <div class="slide-text">Design</div>
                            <div class="slide-tag"><span>#트렌드</span><span>#스펙트럼</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="3">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_4.webp" alt="">
                            </div>
                            <div class="slide-text">Development</div>
                            <div class="slide-tag"><span>#아이디어</span><span>#실현</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="4">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_5.webp" alt="">
                            </div>
                            <div class="slide-text">Publishing</div>
                            <div class="slide-tag"><span>#크로스브라우징</span><span>#최적화</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="5">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_6.webp" alt="">
                            </div>
                            <div class="slide-text">Services</div>
                            <div class="slide-tag"><span>#솔루션</span><span>#컨설팅</span></div>
                        </div>
                    </li> 
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="0">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_1.webp" alt="">
                            </div>
                            <div class="slide-text">SEO</div>
                            <div class="slide-tag"><span>#상위노출</span><span>#최적화</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="1">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_2.webp" alt="">
                            </div>
                            <div class="slide-text">Planning</div>
                            <div class="slide-tag"><span>#목표달성</span><span>#실행</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="2">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_3.webp" alt="">
                            </div>
                            <div class="slide-text">Design</div>
                            <div class="slide-tag"><span>#트렌드</span><span>#스펙트럼</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="3">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_4.webp" alt="">
                            </div>
                            <div class="slide-text">Development</div>
                            <div class="slide-tag"><span>#아이디어</span><span>#실현</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="4">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_5.webp" alt="">
                            </div>
                            <div class="slide-text">Publishing</div>
                            <div class="slide-tag"><span>#크로스브라우징</span><span>#최적화</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="5">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_6.webp" alt="">
                            </div>
                            <div class="slide-text">Services</div>
                            <div class="slide-tag"><span>#솔루션</span><span>#컨설팅</span></div>
                        </div>
                    </li> 
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="0">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_1.webp" alt="">
                            </div>
                            <div class="slide-text">SEO</div>
                            <div class="slide-tag"><span>#상위노출</span><span>#최적화</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="1">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_2.webp" alt="">
                            </div>
                            <div class="slide-text">Planning</div>
                            <div class="slide-tag"><span>#목표달성</span><span>#실행</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="2">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_3.webp" alt="">
                            </div>
                            <div class="slide-text">Design</div>
                            <div class="slide-tag"><span>#트렌드</span><span>#스펙트럼</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="3">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_4.webp" alt="">
                            </div>
                            <div class="slide-text">Development</div>
                            <div class="slide-tag"><span>#아이디어</span><span>#실현</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="4">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_5.webp" alt="">
                            </div>
                            <div class="slide-text">Publishing</div>
                            <div class="slide-tag"><span>#크로스브라우징</span><span>#최적화</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="5">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_6.webp" alt="">
                            </div>
                            <div class="slide-text">Services</div>
                            <div class="slide-tag"><span>#솔루션</span><span>#컨설팅</span></div>
                        </div>
                    </li> 
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="0">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_1.webp" alt="">
                            </div>
                            <div class="slide-text">SEO</div>
                            <div class="slide-tag"><span>#상위노출</span><span>#최적화</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="1">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_2.webp" alt="">
                            </div>
                            <div class="slide-text">Planning</div>
                            <div class="slide-tag"><span>#목표달성</span><span>#실행</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="2">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_3.webp" alt="">
                            </div>
                            <div class="slide-text">Design</div>
                            <div class="slide-tag"><span>#트렌드</span><span>#스펙트럼</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="3">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_4.webp" alt="">
                            </div>
                            <div class="slide-text">Development</div>
                            <div class="slide-tag"><span>#아이디어</span><span>#실현</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="4">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_5.webp" alt="">
                            </div>
                            <div class="slide-text">Publishing</div>
                            <div class="slide-tag"><span>#크로스브라우징</span><span>#최적화</span></div>
                        </div>
                    </li>
                    <li class="recruit-slide">
                        <div class="slide-content" data-idx="5">
                            <div class="slide-img">
                                <img src="/img/web/s2_img_6.webp" alt="">
                            </div>
                            <div class="slide-text">Services</div>
                            <div class="slide-tag"><span>#솔루션</span><span>#컨설팅</span></div>
                        </div>
                    </li>   
                </ul>
            </div>
            <div class="follow_text">
                <div class="follow_box">
                    <div>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                            <mask id="mask0_2534_2948" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="20" height="21">
                            <rect y="0.5" width="20" height="20" fill="#D9D9D9"/>
                            </mask>
                            <g mask="url(#mask0_2534_2948)">
                            <path d="M11.4792 18.8334L8.45833 12.3334L5 17.1667V2.16675L16.6667 11.3334H10.75L13.75 17.7709L11.4792 18.8334Z" fill="white"/>
                            </g>
                        </svg>
                    </div>
                    <div class="change_text">SEO로 검색 상위 노출을 선점하고, 더 많은 고객을 확보하세요</div>
                </div>
            </div>
        </div>   
        <div class="mo-wrap" data-aos="fade-up" data-aos-duration="1200" data-aos-delay="100"> 
            <div class="serviceSwiper" >
                <div class="swiper-wrapper">                    
                    <div class="swiper-slide">
                            <div class="slide-inner" data-idx="0">
                                <div class="slide-img-box">
                                    <img src="/img/web/s2_img_1.webp" alt="">
                                </div>
                                <div class="slide-text">SEO</div>
                                <div class="slide-tag"><span>#상위노출</span><span>#최적화</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-inner" data-idx="1">
                                <div class="slide-img-box">
                                    <img src="/img/web/s2_img_2.webp" alt="">
                                </div>
                                <div class="slide-text">Planning</div>
                                <div class="slide-tag"><span>#목표달성</span><span>#실행</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-inner" data-idx="2">
                                <div class="slide-img-box">
                                    <img src="/img/web/s2_img_3.webp" alt="">
                                </div>
                                <div class="slide-text">Design</div>
                                <div class="slide-tag"><span>#트렌드</span><span>#스펙트럼</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-inner" data-idx="3">
                                <div class="slide-img-box">
                                    <img src="/img/web/s2_img_4.webp" alt="">
                                </div>
                                <div class="slide-text">Development</div>
                                <div class="slide-tag"><span>#아이디어</span><span>#실현</span></div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="slide-inner" data-idx="4">
                                <div class="slide-img-box">
                                    <img src="/img/web/s2_img_5.webp" alt="">
                                </div>
                                <div class="slide-text">Publishing</div>
                                <div class="slide-tag"><span>#크로스브라우징</span><span>#최적화</span></div>
                            </div>
                        </div>        
                </div>       
        </div>
    </div> 
    </section>
</div>

