<section>
    <div  class="section10">
        <div class="swiper big_img_list">
            <div class="swiper-wrapper ">

                <!-- 묶음 그대로 한번더 복붙해서 넣어주기-->
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_01.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_01_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_02.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_02_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_03.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_03_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_04.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_04_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_05.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_05_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_06.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_06_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_07.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_07_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <!-- 묶음 끝 -->
                 <!-- 묶음 그대로 한번더 복붙해서 넣어주기-->
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_01.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_01_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_02.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_02_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_03.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_03_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_04.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_04_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_05.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_05_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_06.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_06_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_07.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_07_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <!-- 묶음 끝 -->
                 <!-- 묶음 그대로 한번더 복붙해서 넣어주기-->
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_01.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_01_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_02.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_02_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_03.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_03_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_04.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_04_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_05.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_05_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_06.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_06_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <div class="swiper-slide img_list_item">
                    <div class="list_item_w">
                        <div class="img_box">
                            <img src="/public/img/web/web_s1_07.webp" alt="" class="TB">
                            <img src="/public/img/web/web_s1_07_m.webp" alt="" class="MB">
                        </div>
                    </div>
                </div>
                <!-- 묶음 끝 -->
            </div>
        </div>
        <div class="big_img_btn">
            <div class="title">
                <h4>와커스와 함께한 프로젝트</h4>
                <span>194+</span>
            </div>
            <div class="img_nav_box">
                <div data-thumbs-slider="" class="swiper img_nav">
                    <div class="swiper-wrapper">
                        <!-- 묶음 그대로 한번더 복붙해서 넣어주기-->
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_4.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>더유스의원</h5>
                                    <p>꼼꼼함에 쾌적함을 더한<br>가치높은 진료 더유스의원</p>
                                    <a href="https://theyouthclinic.co.kr/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_2.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>NSON</h5>
                                    <p>끊임없는 기술개발로<br>건강한 미래를 만듭니다</p>
                                    <a href="https://nsonlaser.com/kor/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_5.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>엠아이텍</h5>
                                    <p>혁신과 최첨단의 의료산업<br>넘버원 엠아이텍</p>
                                    <a href="" class="none" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_7.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>더원서울안과</h5>
                                    <p>따뜻한 체온이 전해지는 <br>진료공간, 더원서울안과</p>
                                    <a href="https://the1seoul.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_3.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>에르고</h5>
                                    <p>우리는 상상과<br>실재를 연결합니다</p>
                                    <a href=" https://ergo-corp.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>  
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_8.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>예스안과</h5>
                                    <p>선명한 세상으로 가는 길,<br>예스안과가 열어드립니다.</p>
                                    <a href="https://www.yes-oph.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>  
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_1.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>샤브로21</h5>
                                    <p>소소한 즐거움과 감동을<br>선사하는 휴식의 공간</p>
                                    <a href="https://shaburo21.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>  
                        <!-- 묶음 끝 -->
                         <!-- 묶음 그대로 한번더 복붙해서 넣어주기-->
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_4.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>더유스의원</h5>
                                    <p>꼼꼼함에 쾌적함을 더한<br>가치높은 진료 더유스의원</p>
                                    <a href="https://theyouthclinic.co.kr/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_2.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>NSON</h5>
                                    <p>끊임없는 기술개발로<br>건강한 미래를 만듭니다</p>
                                    <a href="https://nsonlaser.com/kor/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_5.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>엠아이텍</h5>
                                    <p>혁신과 최첨단의 의료산업<br>넘버원 엠아이텍</p>
                                    <a href="" class="none" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_7.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>더원서울안과</h5>
                                    <p>따뜻한 체온이 전해지는 <br>진료공간, 더원서울안과</p>
                                    <a href="https://the1seoul.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_3.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>에르고</h5>
                                    <p>우리는 상상과<br>실재를 연결합니다</p>
                                    <a href=" https://ergo-corp.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>  
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_8.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>예스안과</h5>
                                    <p>선명한 세상으로 가는 길,<br>예스안과가 열어드립니다.</p>
                                    <a href="https://www.yes-oph.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>  
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_1.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>샤브로21</h5>
                                    <p>소소한 즐거움과 감동을<br>선사하는 휴식의 공간</p>
                                    <a href="https://shaburo21.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>  
                        <!-- 묶음 끝 -->
                         <!-- 묶음 그대로 한번더 복붙해서 넣어주기-->
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_4.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>더유스의원</h5>
                                    <p>꼼꼼함에 쾌적함을 더한<br>가치높은 진료 더유스의원</p>
                                    <a href="https://theyouthclinic.co.kr/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_2.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>NSON</h5>
                                    <p>끊임없는 기술개발로<br>건강한 미래를 만듭니다</p>
                                    <a href="https://nsonlaser.com/kor/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_5.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>엠아이텍</h5>
                                    <p>혁신과 최첨단의 의료산업<br>넘버원 엠아이텍</p>
                                    <a href="" class="none" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_7.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>더원서울안과</h5>
                                    <p>따뜻한 체온이 전해지는 <br>진료공간, 더원서울안과</p>
                                    <a href="https://the1seoul.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div> 
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_3.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>에르고</h5>
                                    <p>우리는 상상과<br>실재를 연결합니다</p>
                                    <a href=" https://ergo-corp.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>  
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_8.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>예스안과</h5>
                                    <p>선명한 세상으로 가는 길,<br>예스안과가 열어드립니다.</p>
                                    <a href="https://www.yes-oph.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>  
                        <div class="swiper-slide">
                            <div class="project_info_box">
                                <div class="img_box">
                                    <img src="/public/img/web/web_project_logo_1.webp" alt="">
                                </div>
                                <div class="project_info">
                                    <h5>샤브로21</h5>
                                    <p>소소한 즐거움과 감동을<br>선사하는 휴식의 공간</p>
                                    <a href="https://shaburo21.com/" target="_blank">More view</a>
                                </div>
                            </div>
                        </div>  
                        <!-- 묶음 끝 -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

    







