---
  //마우스 커서를 사용하기위해서는 맨 첫 부모에게 클래스 line_mouse_section 주자
---

<!-- Section1.astro -->
<section class="line_mouse_section" >
    <!-- <div class="horizontal-bar"></div>
    <div class="vertical-bar"></div> -->
    <div class="sec2">
        <div class="sec2_w">
            <div class="cont_1">
                <div class="left ">
                    <img src="/img/web/web_s3_dia.gif" alt="와커스비전" loading="lazy">
                    <!-- <div id="stone">
                        
                    </div> -->
                    <!-- <div id="stoneRe"></div> -->
                    <div class="blackSh"></div>
                </div>
                <div class="right">
                    <div class="text_item">
                        <p>
                            WACUS는 단순한 디자인을 넘어, 고객님의 아이디어와 
                            비전이 웹 위에서 살아 숨 쉴 수 있도록 정교하고 섬세한 
                            작업을 제공합니다.
                        </p>
                    </div>
                    <div class="text_item">
                        <p>
                            최신 웹 트렌드와 맞춤형 솔루션을 통해 브랜드의 가치를 
                            극대화하고, 차별화된 디지털 경험을 창출합니다.
                        </p>
                    </div>
                    <div class="text_item">
                        <p>
                            Bringing Ideas Alive, One Pixel at a Time.
                            작은 픽셀 하나하나가 모여 꿈을 현실로 만듭니다. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

