<section class="section sc-03">
    <h2 class="blind">와커스 키워드</h2>
    <div class="sticky">
        <div class="ttl-area">
            <p class="sc-ttl ani-scale">WACUS knows :<br class="mobile"> how to</p>
            <div class="wrapper">
                <div class="keyword-area">
                    <ul class="keyword-list">
                        <li class="keyword-item">
                            <span class="keyword-txt sc-ttl color-blue">Optimize <br class="br-500">for search visibility</span>
                        </li>
                        <li class="keyword-item">
                            <span class="keyword-txt sc-ttl color-blue">Build a structure <br class="br-500">where customers find you</span>
                        </li>
                        <li class="keyword-item">
                            <span class="keyword-txt sc-ttl color-blue">Maximize conversion <br class="br-500">at the point of purchase</span>
                        </li>
                    </ul>
                    <p class="sc-ttl">We’re good at all of it.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<script is:inline>
    
</script>