<section class="section sc-05">
    <div class="txt-area">
        <h2 class="sc-ttl" data-aos="fade-up">
            Looking for a digital-first marketing agency <br> like <span class="color-blue">WACUS?</span>
        </h2>
        <hr class="line" data-aos="fade-up">
        <p class="desc" data-aos="fade-up">
            For <em class="fw-700">B2B marketing, </em>we offer planning and content production.<br>
            For <em class="fw-700">B2C marketing, </em>we deliver performance with trend-savvy execution.
        </p>
    </div>
    <div class="link-area" >
        <a href="https://wacus.co.kr/portfolio/index.php?cate=web" class="link">
            <span class="txt-dot">View Portfolio</span>
        
        </a>
        <a href="/contact" class="link">
            <span class="txt-dot">Contact Us</span>
       
        </a>
    </div>
</section>