<section class="section sc-04">
    <h2 class="blind">와커스 마케팅 프로세스</h2>
    <div class="inner">
        <div class="left">
            <div class="sticky">
                <div class="img-area">
                    <img src="../../public/img/cm/img-process01.webp" alt="">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="process-area">
                <ol class="process-list">
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">1</div>
                                <i class="ico ico-process-01"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">Market research and strategic positioning of the brand/product</p>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">2</div>
                                <i class="ico ico-process-02"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">Content planning (video, landing page, SNS, blog, etc.)</p>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">3</div>
                                <i class="ico ico-process-03"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">Executing online ads (search, display, YouTube)</p>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">4</div>
                                <i class="ico  ico-process-04"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">Performance analysis and reporting</p>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">5</div>
                                <i class="ico ico-process-05"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">Campaign optimization and management</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>