<section class="section sc-02">
    <div class="sticky-wrapper">
        <div class="sticky">
            <div class="ttl-area">
                <h2 class="sc-ttl">
                    <strong class="ttl-txt split-txt txt01">Is there a strategy fit <br class="mobile">for my brand?</strong>
                    <strong class="ttl-txt split-txt txt02">The <span class="color-blue">key </span>is creating marketing <br class="mobile">that follows the customer journey.</strong>

                      
                </h2>
            </div>
        </div>
    </div>
    <div class="vertical">
        <div class="sticky-wrapper">
            <div class="sticky">
                <div class="strategy-area">
                    <div class="strategy-wrapper">
                        <ul class="strategy-list">
                            <li class="strategy-item first">
                                <div class="img-area">
                                    <img src="../../public/img/cm/img-strategy01.webp" alt="">
                                </div>
                                <strong class="strategy-ttl">Awareness & Interest</strong>
                            </li>
                            <li class="strategy-item">
                                <div class="img-area">
                                    <img src="../../public/img/cm/img-strategy02.webp" alt="">
                                </div>
                                <strong class="strategy-ttl">Awareness & Interest</strong>
                            </li>
                            <li class="strategy-item end">
                                <div class="img-area">
                                    <img src="../../public/img/cm/img-strategy03.webp" alt="">
                                </div>
                                <strong class="strategy-ttl">Comparison & Evaluation</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="horizon">
        <div class="sticky">
            <div class="strategy-area">
                <ul class="strategy-list">
                    <li class="strategy-item first pc">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy01.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">Awareness & Interest</strong>
                    </li>
                    <li class="strategy-item">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy02.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">Awareness & Interest</strong>
                    </li>
                    <li class="strategy-item">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy03.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">Comparison & Evaluation</strong>
                    </li>
                    <li class="strategy-item">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy02.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">Purchase Decision & Experience Sharing</strong>
                    </li>
                    <li class="strategy-item">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy01.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">Awareness & Interest</strong>
                    </li>
                    <li class="strategy-item pc">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy02.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">Awareness & Interest</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>