<section class="section sc-01">
    <div class="sticky-wrapper">
        <div class="sticky">
            <div class="bg-area">
                <video src="../../public/video/cm/cm-main-video.mp4" autoplay muted loop playsinline></video>
            </div>
            <div class="ttl-area">
                <h2 class="sc-ttl">
                    <div class="wrapper wrapper-01">
                        <strong class="ttl-txt split-txt">WACUS, <br>Breaking Marketing Boundaries </strong>
                        <div class="txt-box">
                            <span class="txt">Marketing Innovation</span>
                        </div>
                    </div>
                    <div class="wrapper wrapper-02">
                        <strong class="ttl-txt split-txt">with IT and AI!</strong>
                        <div class="txt-box">
                            <span class="txt">AI Integration</span>
                        </div>
                    </div>
                </h2>
                <p class="sub-ttl">We don’t sell ads. We deliver results.</p>
            </div>
        </div>
    </div>
</section>