---
import "../../../../public/css/commercialHp/commercialHp4.css";
---

<section id="commercialHpIssue" class="cmhp-section">
    <div class="cmhp-container">
        <div class="cmhp-issue__title">
            <h3 class="cmhp-heading split--words">
                Have you experienced <br />
                <span class="color-or">any of these issues</span> <br/>with your current website?
            </h3>
        </div>
        <div class="cmhp-issue__content">
            <div class="cmhp-issue__image">
                <div></div>
            </div>
            <ul class="cmhp-issue__list">
                <li>
                    <p>Content is cut off or appears <span class="br-500"></span><span class="bold">too small on mobile.</span></p>
                </li>
                <li >
                     
                    <p>Difficult to manage, <span class="br-500">so </span><span class="bold"> updates are delayed	</span></p>
                </li>
                <li>
                    <p>It <span class="bold">takes 3–4 clicks <span class="br-500"></span> to find key</span> information.</p>
                </li>
                <li>
                    <p>Company strengths aren’t visible<span class="br-500"></span><span class="bold">, just a list of facts</span></p>
                </li>
            </ul>
            <div class="cmhp-issue__text">
                <p>These problems don’t happen just because the site is old.</p>
                <p>The design may look fine, but it <span class="color-or bold">lacks structure aligned with business goals.</span></p>
                <p>A commercial website is built to  <span class="color-or bold">solve these issues at their root.</span></p>
            </div>
        </div>
    </div>
    <div class="bg-circle-or bg-circle-or-1 parallax" data-depth="2.4"></div>
    <div class="bg-circle-or bg-circle-or-2 parallax" data-depth="1.8"></div>
</section>

<script>
    import "../../../../public/js/commercialHp/commercialHp4.js";
</script>
