---
import "../../../../public/css/commercialHp/commercialHp6.css";
---

<section id="commercialHpMethod" class="cmhp-section bg-change">
    <div class="cmhp-container">
        <div class="cmhp-method__title">
            <h3 class="cmhp-heading split--words">
                 
                <span class="color-or">WACUS</span>'s Approach to<br/> Commercial Web Development
            </h3>
            <div class="cmhp-desc split--words">
                 


                <p>WACUS starts not with just design, but with <span class="bold">structural planning tailored to your business goals.</span></p>
            </div>
        </div>
        <div class="cmhp-method__content">
            <div class="cmhp-method__polygon">
                <div class="polygon-wrap">
                    <div class="cmhp-method__polygon-img">
                        <img src="/public/img/commercialHp/section6_polygon_img01_1.png" alt="">
                    </div>
                    <div class="cmhp-method__polygon-dot">
                        <div class="polygon-dot"><span></span></div>
                        <div class="polygon-dot"><span></span></div>
                        <div class="polygon-dot"><span></span></div>
                        <div class="polygon-dot"><span></span></div>
                        <div class="polygon-dot"><span></span></div>
                    </div>
                </div>
                <div class="cmhp-method__polygon-text">
                    <div>
                        <p>Responsive design <span class="not-br-768"></span>optimized for all devices</p>
                    </div>
                    <div>
                        <p>Information architecture <span class="not-br-768"></span>centered on user experience</p>
                    </div>
                    <div>
                        <p>Consistent brand  <span class="not-br-768"></span>tone and messaging</p>
                    </div>
                    <div>
                        <p>Admin panel  <span class="not-br-768"></span>for easy content editing</p>
                    </div>
                    <div>
                        <p>Scalable development built <span class="not-br-768"></span>for long-term growth and maintenance</p>
                    </div>
                </div>
            </div>

            <div class="cmhp-method__text">
                We don’t just build websites. <br/>We create <span class="mark-or">platforms that represent your business direction <br/>and enable future growth.</span>
            </div>
              
        </div>
    </div>
</section>

<script>
    import "../../../../public/js/commercialHp/commercialHp6.js";
</script>
