---
import "../../../../public/css/commercialHp/commercialHp2.css";
---


<section id="commercialHpPoint" class="cmhp-section">
    <div class="cmhp-intro__marquees">
        <div class="marquee marquee1 left" data-bgColor="wh">
            <div class="marquee-track">
                <div class="marquee-item">
                    <div>Why is a commercial website necessary right now?</div>
                </div>
            </div>
        </div>
        <div class="marquee marquee2 right" data-bgColor="or">
            <div class="marquee-track">
                <div class="marquee-item">
                    <div>Why is a commercial website necessary right now?</div>
                </div>
            </div>
        </div>
    </div>
    <div class="full-sticky-container">
        <div class="cmhp-point__top-area">
            <div class="cmhp-point__title">
                <span class="cmhp-sub-heading split--words">The starting point of a business</span>
                <h3 class="cmhp-heading split--words"><span class="color-or">Starting Point</span> of Business</h3>
                <div class="cmhp-desc split--words">
                    <p>
                        The business landscape is rapidly changing. <br />
                        A website is no longer just for showing information <span class="brx"></span> — it’s where <span class="color-or bold">business begins.</span></p>
                </div>
            </div>
            <div class="cmhp-point__indicator">
                <div class="indicator-wrapper">
                    <div class="indicator-item">
                        <div class="indicator-dot"></div>
                        <p class="indicator-text">Drive user action</p>
                    </div>
                    <div class="indicator-item">
                        <div class="indicator-dot"></div>
                        <p class="indicator-text">Effectively deliver your message</p>
                    </div>
                    <div class="indicator-item">
                        <div class="indicator-dot"></div>
                        <p class="indicator-text">Reflect your company’s direction and credibility</p>
                    </div>
                    <div class="indicator-progress-bar">
                        <div class="progress-bar-fill"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cmhp-point__bottom-area">	
            <div class="cmhp-point__images">
                <div class="image-item"><img src="/public/img/commercialHp/section2_bg01.jpg" alt=""></div>
                <div class="image-item"><img src="/public/img/commercialHp/section2_bg02.jpg" alt=""></div>
                <div class="image-item"><img src="/public/img/commercialHp/section2_bg03.jpg" alt=""></div>
            </div>
        </div>
    </div>
</section>



<script>
    import "../../../../public/js/commercialHp/commercialHp2.js";
</script>
