---
import "../../../../public/css/commercialHp/commercialHp3.css";
---

<section id="commercialHpNeed" class="cmhp-section">
    <div class="full-sticky-container">
        <div class="cmhp-need__images">
            <div class="image-item"></div>
            <div class="image-item"></div>
            <div class="image-item"></div>
        </div>
        <div class="cmhp-need__scrolling-text">
            <div class="text-wrapper">
                <div class="text-item">
                    <p>What you need now is a website <span class="br-768"></span>that goes beyond introductions</p>
                </div>
                <div class="text-item">
                    <p>one that guides <span class="br-768"></span><span>customer actions, communicates clearly,</span></p>
                </div>
                <div class="text-item">
                    <p><span>and structurally showcases <span class="br-500"></span>your company’s strengths.</p>
                </div>
            </div>  
        </div>
    </div>
</section>


<script>
    import "../../../../public/js/commercialHp/commercialHp3.js";
</script>
