---
import "../../../../public/css/commercialHp/commercialHp1.css";
---

<section id="commercialHpIntro" class="cmhp-section">
    <div class="pin-wrapper">
        <div class="cmhp-intro__content">
            <div class="cmhp-intro__title parallax parallax-op" data-depth="0.4">
                <div class="cmhp-heading lg split--chars">
                    <div><span class="color-or">Why</span><span class="br-500"></span> does your business </div>
                    <div>need <span class="br-500"></span>a commercial website <span class="br-768"></span>now?</div>
                </div>
                <div class="cmhp-desc split--lines">
                    <p>Is your current website <span class="brx"></span>aligned with your company’s goals?</p>
                    <p>Many companies are still stuck with static, <span class="brx"></span>design-focused introduction pages.</p>
                </div>
            </div>
            <div class="cmhp-intro__images">
                <div class="cmhp-intro__person parallax parallax-op" data-depth="0.6" data-direction="left">
                    <div class="person__img">
                        <div class="person__img-inner"></div>
                    </div>
                    <div class="person__txt">
                        <div class="speech-bubble split--words" data-direction="left">From Just Providing Information…</div>
                    </div>
                </div>
                <div class="cmhp-intro__person parallax parallax-op" data-depth="0.8" data-direction="right">
                    <div class="person__img">
                        <div class="person__img-inner"></div>
                    </div>
                    <div class="person__txt">
                        <div class="speech-bubble split--words" data-direction="right">Company Introduction?</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>
    import "../../../../public/js/commercialHp/commercialHp1.js";
</script>
