---
import "../../../../public/css/commercialHp/commercialHp5.css";
---

<section id="commercialHpDef" class="cmhp-section">
    <div class="cmhp-container">
        <div class="cmhp-def__title">
            <h3 class="cmhp-heading split--chars">
                What is a <span class="color-or">Commercial </span> Website?
            </h3>
            <div class="cmhp-desc split--chars">
                <p>A commercial website is not just about "showing"<span class="br-500"></span> — it's <span class="color-or bold">about designing the user journey.</span></p>
            </div>
        </div>
        <div class="cmhp-def__content">
            <div class="cmhp-def__fade-slider swiper">
                <div class="slider-wrapper swiper-wrapper">
                    <div class="slider-item active swiper-slide">
                        <div class="item-img">
                            <img src="/public/img/commercialHp/section5_slide_img01.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-item swiper-slide">
                        <div class="item-img">
                            <img src="/public/img/commercialHp/section5_slide_img02.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-item swiper-slide">
                        <div class="item-img">
                            <img src="/public/img/commercialHp/section5_slide_img03.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-item swiper-slide">
                        <div class="item-img">
                            <img src="/public/img/commercialHp/section5_slide_img04.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cmhp-def__pagination" data-slide="cmhp-def__fade-slider">
                <div class="active">
                    <span class="paging__number">1.</span>
                    <p>
                        Plan <span class="highlight-or"> core functions and content</span> <br/>
                        based on business goals
                    </p>
                </div>
                <div>
                    <span class="paging__number">2.</span>
                    <p>
                        <span class="highlight-or">Lead users naturally</span> from information <br />
                        search to inquiry
                    </p>
                </div>
                <div>
                    <span class="paging__number">3.</span>
                    <p>
                        <span class="highlight-or">Consider various visitors </span></span> — <br />
                        customers, partners, investors, <br />and talent
                    </p>
                </div>
                <div>
                    <span class="paging__number">4.</span>
                    <p>
                        Apply a CMS <span class="sm">(content management system)</span><br />
                        <span class="highlight-or">for easy operation</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    import "../../../../public/js/commercialHp/commercialHp5.js";
</script>
