---
import "../../../../public/css/commercialHp/commercialHp7.css";
---

<section id="commercialHpContact" class="cmhp-section">
    <div class="cmhp-container">
        <div class="cmhp-contact__title">
            <h3 class="cmhp-heading sm" data-fade="down">
                So, <span class="color-or">what kind of website</span> <br/>does your company need right now?
            </h3>
        </div>
        <div class="cmhp-contact__content">
            <div class="cmhp-contact__line" data-fade="down"></div>
            <div class="cmhp-contact__text" data-fade="down">
                <p>If your current site no longer represents your company, it’s time to rethink its structure.</p>
                <ul>
                    <li>Is communication between internal <br/>and external users disconnected?</li>
                    <li>Are your recruiting, contact, <br/>and product/service pages scattered?</li>
                    <li>Want to leave a lasting impression, <br/>not just deliver information?</li>
                </ul>
                <p>What you need now is not just a redesign — <br/>
                    you need <span class="color-or bold">a commercial website</span> that moves in sync with your business.</p>
            </div>
            <div class="cmhp-contact__link" data-fade="down">
                <a href="https://wacus.co.kr/portfolio/index.php?cate=web" class="link-item link-item--portfolio">
                    <div>
                        <span>View Portfolio</span>
                    </div>
                </a>
                <a href="/contact" class="link-item link-item--contact">
                    <div>
                        <span>Contact Us</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="bg-circle-or bg-circle-or-3 parallax" data-depth="2.4"></div>
</section>

<script>
    import "../../../../public/js/commercialHp/commercialHp7.js";
</script>
