@charset "utf-8";


*{
    box-sizing: border-box; /* 오페라(Opera) */
    -moz-box-sizing: border-box; /* 파이어폭스(Firefox)*/
    -webkit-box-sizing: border-box;
}

html{
    --black:#000;
    --strong:#171717;
    --title:#262626;
    --main:#00D0FF;
}

.DT {display:block;}
.MB {display:none}
.TB {display:block;}

@media screen and (max-width:1550px) {
    .DT {display:none;}
}
@media screen and (max-width:768px) {
    .TB {display:none;}
    .MB {display:block}
}

body{font-family: 'Pretendard', sans-serif;letter-spacing: -0.04rem;}

/* html::-webkit-scrollbar {width: 8px;position: fixed;right:10px; top:20px} */
html {-ms-overflow-style: none;scrollbar-width: none;}
html::-webkit-scrollbar {display: none;}
/* html::-webkit-scrollbar-thumb {background-color: #2f3542; border-radius: 10px;}
html::-webkit-scrollbar-track {background: #131313;} */

main{padding: 0 !important;margin: 0 !important;}
.bold{font-weight: 700;}
.c1{color: #FF5500;}
.c2{color: #00D0FF;}


footer {width:100%;background:#000;display: flex;justify-content: center;align-items: start;padding: 40px 0 100px;border-top:#171717 solid 1px;letter-spacing: -0.02em;}
footer .footer_inner {width:95%;color:#fff;line-height: 1.5;display: flex;align-items: start;justify-content: space-between;}
footer .footer_inner .left {display: flex;gap:8%; align-items: start;}
footer .footer_inner .right {display: flex;flex-direction: column;text-align: right;gap:27px;}
footer .footer_inner .right > div {display: flex;flex-direction: column;}
footer .footer_inner .left > div {display: inline-flex;gap:10px;flex-direction: column;width:270px;}
footer .footer_inner .left > .ft_img_box {display: block;width:auto;}
footer .footer_inner .left .title {font-size: 16px;font-weight: 500;}
footer .footer_inner .left .con {font-size: 14px;font-weight: 400;}
footer .footer_inner .right > div a svg {transition: .45s all ease;}
footer .footer_inner .right > div a:hover svg {transform: translate(3px,-3px);}
footer .footer_inner .right > div a:hover svg path {transition: .45s all ease;}
footer .footer_inner .right > div a:hover svg path {fill:var(--main);}
footer .footer_inner .right > div a {transition: .45s all ease;display: flex;justify-content: end; color: #fff;}
footer .footer_inner .right > div a:hover {color:var(--main);}
footer .footer_inner .right .second {font-size:14px;}
/* footer .footer_inner .law {width:505px;height:95px;} */

@media screen and (max-width:1200px) {
    footer .footer_inner .left{
        gap: 10px;
    }
}
@media screen and (max-width:1024px) {
    footer .footer_inner {width:calc(100% - 32px);}
    footer .footer_inner .left > .ft_img_box{
        max-width: 250px;
    }
}

@media screen and (max-width:768px) {
    footer .footer_inner .left > .ft_img_box{
        max-width: none;
    }
    footer .footer_inner .left .title {font-size:15px;}
    footer .footer_inner .right .second {font-size:12px;}
    footer .footer_inner .left .con {font-size:13px;}
    footer .footer_inner .left{
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        text-align: left;
        gap: 20px;
    }
    footer .footer_inner{
        flex-direction: column;
        gap: 20px;
    }
    footer .footer_inner .left > div{
        width: auto;
    }
    footer .footer_inner .right{
        width: 100%;
        text-align: left;
        align-items: start;
    }
    footer .footer_inner .right > div a {
        justify-content: start;
    }
    footer .footer_inner .right > div.first {
        display: none;
    }
}


.quick_bottom{
    display: none;
}
@media screen and (max-width:768px) {
.quick_bottom{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 15px;
}

.quick_btn_box{
    position: relative;
    perspective: 1000px;
    width: 70px;
    height: 70px;
    cursor: pointer;
}
.quick_btn_box ._2{
    position: absolute;
    top: 0;
    left: 0;
}


.quick_btn {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d; /* 3D 회전 유지 */
    animation: rotate3D 2s linear infinite; /* 무한 회전 애니메이션 */
}

.quick_btn .side {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* 뒷면 숨기기 */
}

.quick_btn .front {
    transform: rotateY(0deg); /* 앞면 */
}

.quick_btn .back {
    transform: rotateY(180deg); /* 뒷면 */
}

@keyframes rotate3D {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}
.quick_list_box{
    display: none; /* 처음에는 숨김 */
    overflow: hidden; /* 애니메이션 시 내용이 넘치지 않도록 설정 */
}
.quick_list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-end;
    position: relative;
    z-index: 99999;
}
.quick_list >li{}
.quick_list >li a{
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 10px;
    border-radius: 999px;
background: rgba(0, 0, 0, 0.70);
box-sizing: border-box;
}
.quick_list >li a p{
    color: #FFF;
    font-family: "Pretendard";
    font-size: 14px;
    font-weight: 500;
    line-height: 1.2; 
    letter-spacing: -0.28px;
}
.quick_list >li a svg{}
}

