<!-- SECTION5 ::: CONTACT US  -->
<div class="m s5">
    <div class="sc_inner">
        <div class="tit_area">
            <h2>CONTACT US</h2>            
        </div>
        <div class="con_area">
            <div class="progress_box">
                <div class="step_list" style="--left:0%">
                    <a class="step_item on" href="">
                        <p class="">서비스</p>
                        <span class="line"></span>
                    </a>
                    <a class="step_item" href="">
                        <p>비용</p>
                        <span class="line"></span>
                    </a>
                    <a class="step_item" href="">
                        <p>기간</p>
                        <span class="line"></span>
                    </a>
                    <a class="step_item" href="">
                        <p>유입경로</p>
                        <span class="line"></span>
                    </a>
                    <a class="step_item" href="">
                        <p>정보입력</p>
                        <span class="line"></span>
                    </a>
                </div>
            </div>
            <form action="" class="form form_wrap">
                <div class="form_inner">
                    <div class="question_wrap">
                        <div class="question_item">
                            <p class="tit"><span class="num">01.</span><strong>어떤 서비스가 필요하신가요?</strong>&nbsp;(중복선택가능)</p>
                            <div class="option_group">
                                <label class="label_checkbox" for="performance_marketing">
                                    <input type="checkbox" id="performance_marketing" name="performance_marketing" value="퍼포먼스 마케팅">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="퍼포먼스 마케팅">퍼포먼스 마케팅</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                
                                <label class="label_checkbox" for="online_digital_marketing">
                                    <input type="checkbox" id="online_digital_marketing" name="online_digital_marketing" value="온라인 · 디지털 마케팅">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="온라인 · 디지털 마케팅">온라인 · 디지털 마케팅</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                
                                <label class="label_checkbox" for="content_planning_production">
                                    <input type="checkbox" id="content_planning_production" name="content_planning_production" value="콘텐츠 기획 · 제작">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="콘텐츠 기획 · 제작">콘텐츠 기획 · 제작</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                
                                <label class="label_checkbox" for="imc_marketing">
                                    <input type="checkbox" id="imc_marketing" name="imc_marketing" value="IMC 마케팅">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="IMC 마케팅">IMC 마케팅</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                
                                <label class="label_checkbox" for="digital_branding">
                                    <input type="checkbox" id="digital_branding" name="digital_branding" value="디지털 브랜딩">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="디지털 브랜딩">디지털 브랜딩</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                
                                <label class="label_checkbox" for="video_planning_production">
                                    <input type="checkbox" id="video_planning_production" name="video_planning_production" value="영상 기획 · 제작">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="영상 기획 · 제작">영상 기획 · 제작</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                                                
                        </div>
                        </div>
                        <div class="question_item">
                            <p class="tit"><span class="num">02.</span><strong>프로젝트 비용을 선택해주세요</strong></p>
                            <div class="option_group">
                                <label class="label_checkbox">
                                    <input type="radio" name="price_range" value="미정">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="미정">미정</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="price_range" value="1천만원 이하">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="1천만원 이하">1천만원 이하</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="price_range" value="2천 이하">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="2천 이하">2천 이하</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="price_range" value="3천만원 이하">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="3천만원 이하">3천만원 이하</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="price_range" value="5천만원 이하">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="5천만원 이하">5천만원 이하</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="price_range" value="5천만원 이상">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="5천만원 이상">5천만원 이상</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>                                   
                        </div>
                        </div>
                        <div class="question_item">
                            <p class="tit"><span class="num">03.</span><strong>프로젝트 기간을 선택해주세요</strong></p>
                            <div class="option_group">
                                <label class="label_checkbox">
                                    <input type="radio" name="daration" value="바로 시작">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="바로 시작">바로 시작</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="daration" value="4개월 이하">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="4개월 이하">4개월 이하</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="daration" value="6개월 이하">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="6개월 이하">6개월 이하</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="daration" value="6개월 이상">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="6개월 이상">6개월 이상</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>                                   
                        </div>
                        </div>
                        <div class="question_item">
                            <p class="tit"><span class="num">04.</span><strong>와커스를 어떻게 찾아오셨나요?</strong></p>
                            <div class="option_group">
                                <label class="label_checkbox">
                                    <input type="radio" name="path" value="구글">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="구글">구글</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="path" value="네이버">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="네이버">네이버</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>
                                <label class="label_checkbox">
                                    <input type="radio" name="path" value="다음">
                                    <span class="label">
                                        <span class="input_tit"><span data-text="다음">다음</span></span>
                                        <span class="ripple"><span></span></span>
                                    </span>
                                </label>                                                      
                            </div>
                        </div>
                        <div class="question_item">
                            <p class="tit"><span class="num">05.</span><strong>문의하시는 분의 정보를 입력해주세요.</strong></p>
                            <div class="form_list">
                                <div class="input_group">
                                    <label for="">이름 <em>*</em></label>
                                    <input type="text" placeholder="이름을 입력해주세요.">
                                </div>
                                <div class="input_group">
                                    <label for="">연락처 <em>*</em></label>
                                    <input type="text" placeholder="‘-’를 제외한 숫자만 입력해주세요.">
                                </div>
                                <div class="input_group">
                                    <label for="">이메일 <em>*</em></label>
                                    <input type="text" placeholder="이메일을 입력해주세요.">
                                </div>
                                <div class="input_group">
                                    <label for="">회사명 <em>*</em></label>
                                    <input type="text" placeholder="회사명을 입력해주세요.">
                                </div>
                                <div class="input_group w100">
                                    <label for="">문의내용 <em>*</em></label>
                                    <textarea name="" id="" placeholder="문의하실 내용을 입력해주세요."></textarea>
                                </div>
                                <div class="input_group chk w100">
                                    <input id="agree" type="checkbox" required="">
                                    <label for="agree">
                                        <a class="btn_pop" data-target="#pop1" onclick="openModal('personal')">개인정보처리방침</a>에 동의합니다.(필수)
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn_submit">Next <span class="ico">
                        <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 51 51">
                        <mask id="mask0_1200_1959" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="51" height="51">
                          <rect x="0.403809" y="0.617188" width="50" height="50" fill="currentColor"/>
                        </mask>
                        <g mask="url(#mask0_1200_1959)">
                          <path d="M29.6001 38.8327L26.3496 35.6218L34.1282 27.8431H7.9126V23.252H34.1282L26.3147 15.4192L29.5652 12.228L42.9142 25.5478L29.6001 38.8327Z" fill="currentColor"/>
                        </g>
                      </svg></span></button>
                </div>
            </form>            
        </div>
    </div>
</div>

