<!-- SECTION4 ::: OUR WORK  -->
 <section class="s4">
    <div class="sc_inner">
        <div class="tit_area">
            <h2>OUR WORK</h2>
            <p>와커스는 여러분들이 필요한 마케팅을 하고 있습니다.</p>
        </div>
        <div class="con_area">
            <div class="flowing_wrap">
                <ul class="tag_list left">
                    <li class="tag_item">
                        <h3>#검색광고</h3>
                    </li>
                    <li class="tag_item">
                        <h3>#배너광고</h3>
                    </li>
                    <li class="tag_item">
                        <h3>#바이럴</h3>
                    </li>
                    <li class="tag_item">
                        <h3><span class="ico blog"></span>#BLOG</h3>
                    </li>                   
                    <li class="tag_item">
                        <h3>#GDN</h3>
                    </li>
                    <li class="tag_item">
                        <h3><span class="ico seo"></span>#seo</h3>
                    </li>
                    <li class="tag_item">
                        <h3>#MOVIE</h3>
                    </li>
                    <li class="tag_item">
                        <h3>#YOUTUBE</h3>
                    </li>
                    <li class="tag_item">
                        <h3>#NAVER</h3>
                    </li>
                    <li class="tag_item">
                        <h3><span class="ico google"></span>#GOOGLE</h3>
                    </li>
                    <li class="tag_item">
                        <h3>#플레이스</h3>
                    </li>
                    <li class="tag_item">
                        <h3>#숏츠</h3>
                    </li>
                </ul>
                <ul class="tag_list right">
                <li class="tag_item">
                    <h3>#APP</h3>
                </li>
                <li class="tag_item">
                    <h3>#컨설팅</h3>
                </li>
                <li class="tag_item">
                    <h3>#IMC</h3>
                </li>
                <li class="tag_item">
                    <h3>#파워링크</h3>
                </li>
                <li class="tag_item">
                    <h3>#NEWS</h3>
                </li>
                <li class="tag_item">
                    <h3><span class="ico kakao"></span>#KAKAO</h3>
                </li>
                <li class="tag_item">
                    <h3>#디자인</h3>
                </li>
                <li class="tag_item">
                    <h3>#팝업</h3>
                </li>
                <li class="tag_item">
                    <h3>#NAVER</h3>
                </li>
                <li class="tag_item">
                    <h3>#랜딩페이지</h3>
                </li>
                <li class="tag_item">
                    <h3>#언론홍보</h3>
                </li>
                <li class="tag_item">
                    <h3><span class="ico web"></span>#WEB</h3>
                </li>
                <li class="tag_item">
                    <h3>#유튜브</h3>
                </li>
                </ul>
            </div>
            <div class="rolling_wrap">
                <div class="rolling_txt">
                    <p>지금,</p> 

                    <div class="rolling_box">
                        <div class="inner">
                            <p>#파워링크</p><p>#검색광고</p><p>#배너광고</p><p>#SNS</p><p>#바이럴</p><p>#BLOG</p><p>#GDN</p><p>#플레이스</p><p>#숏츠</p><p>#SEO</p><p>언론홍보</p>
                        </div>
                    </div>

                    <p>서비스가 궁금하시다면?</p>
                </div>
            </div>
            <div class="scr_down">
                <span class="ico"></span>
                <p>Scroll Down</p>
            </div>
        </div>
    </div>
 </section>

