<div class="mark_se_3">
    <div class="left">
        <div class="half_clock_box">
            <span class="sec_line_2"></span>
            <div class="axis"></div>
            <span class="sec_line_3"></span>
            <ul class="rotatino_num" data-num="1">
                <li>
                    <span class="on _1" data-rotationbtn="0"  data-rotationtxt="0"></span>
                    <span class="_2" data-rotationbtn="1"  data-rotationtxt="6"></span>
                </li>
                <li>
                    <span class="_1" data-rotationbtn="2"  data-rotationtxt="1"></span>
                    <span class="_2" data-rotationbtn="3"  data-rotationtxt="7"></span>
                </li>
                <li>
                    <span class="_1" data-rotationbtn="4"  data-rotationtxt="2"></span>
                    <span class="_2" data-rotationbtn="5"  data-rotationtxt="8"></span>
                </li>
                <li>
                    <span class="_1" data-rotationbtn="6"  data-rotationtxt="3"></span>
                    <span class="_2" data-rotationbtn="7"  data-rotationtxt="9"></span>
                </li>
                <li>
                    <span class="_1" data-rotationbtn="8"  data-rotationtxt="4"></span>
                    <span class="_2" data-rotationbtn="9"  data-rotationtxt="10"></span>
                </li>
                <li>
                    <span class="_1" data-rotationbtn="10"  data-rotationtxt="5"></span>
                    <span class="_2" data-rotationbtn="11"  data-rotationtxt="11"></span>
                </li>
                <li>
                    <span class="_1" data-rotationbtn="10"  data-rotationtxt="5"></span>
                    <span class="_2" data-rotationbtn="11"  data-rotationtxt="11"></span>
                </li>
            </ul>
        </div>
        <div class="half_clock_text">
            <div class="rotatino_text" data-rotext="1">
                <div class="img_box">
                    <img src="/img/marketing/mark_se_3_img_1.webp" alt="">
                </div>
                <div class="text_box">
                    <h4 class="text_box_big">wacus</h4>
                    <p>
                        WACUS는 <span class="point">브랜딩과 효율성</span>을 동시에 추구하는 마케팅 파트너입니다.<br> 
                        다양한 채널과 최신 마케팅 트렌드를 활용하여 맞춤형 솔루션을 제공합니다. <br>
                        <span class="point">온라인과 오프라인을 통합한 전략</span>으로 고객의 비즈니스 성과를 극대화하며,<br> 
                        브랜드의 가치를 극대화하는 데 집중합니다.
                    </p>
                </div>
            </div>
            <div  class="rotatino_text" data-rotext="2">
                <div class="img_box">
                    <img src="/img/marketing/shopping.webp" alt="">
                </div>
                <div class="text_box">
                    <h4 class="text_box_big">시장조사</h4>
                    <p>
                        철저한 데이터 기반 분석을 통해 시장의 트렌드와 소비자 행동을 파악합니다. <br>
                        이를 바탕으로 <span class="point">타겟 시장에 최적화된 전략</span>을 제안하여 마케팅의 효과를 <br>
                        극대화합니다.
                    </p>
                </div>
            </div>
            <div  class="rotatino_text" data-rotext="3">
                <div class="img_box">
                    <img src="/img/marketing/mark_se_3_img_2.webp" alt="">
                </div>
                <div class="text_box">
                    <h4 class="text_box_big">컨설팅</h4>
                    <p>
                        고객사의 목표와 상황에 맞춘 전문적인 컨설팅을 제공합니다. <br>
                        각 산업 분야에 경험이 풍부한 전문가들이 투입되어 명확한 방향성을 제시하며, <br>
                        <span class="point">브랜드 전략 수립</span>에 실질적인 도움을 줍니다.
                    </p>
                </div>
            </div>
            <div class="rotatino_text" data-rotext="4">
                <div class="img_box">
                    <img src="/img/marketing/memo.webp" alt="">
                </div>
                <div class="text_box">
                    <h4 class="text_box_big">계획</h4>
                    <p>
                        스토리보드를 바탕으로 섬세하고 <span class="point">구체적인 마케팅 계획을 수립</span>합니다. <br>
                        고객의 비전을 현실로 옮기기 위해 디자인과 콘텐츠 기획이 체계적으로 이루어지며, 일관성 있는 브랜딩을 제공합니다.
                    </p>
                </div>
            </div>
            <div  class="rotatino_text" data-rotext="5">
                <div class="img_box">
                    <img src="/img/marketing/mark_se_3_img_3.webp" alt="">
                </div>
                <div class="text_box">
                    <h4 class="text_box_big">콘텐츠 제작</h4>
                    <p>
                        WACUS는 고유의 감각적인 콘텐츠 제작 역량을 통해, <span class="point">시선을 사로잡는 다양한 <br>
                        디지털 콘텐츠</span>를 제공합니다. 웹페이지, 동영상, 소셜 미디어 콘텐츠 등 브랜드에 <br>
                        최적화된 맞춤형 콘텐츠로 고객과의 소통을 강화합니다.
                    </p>
                </div>
            </div>
            <div  class="rotatino_text" data-rotext="6">
                <div class="img_box">
                    <img src="/img/marketing/mark_se_3_img_4.webp" alt="">
                </div>
                <div class="text_box">
                    <h4 class="text_box_big">실행</h4>
                    <p>
                        철저한 준비 후 마케팅 캠페인을 실행하며, 실시간 모니터링으로 효과를 <br>
                        극대화합니다. 다양한 채널에서 캠페인을 동시 다발적으로 운영하여 <br>
                        <span class="point">최대한의 노출과 전환을 유도</span>합니다.
                    </p>
                </div>
            </div>
            <div  class="rotatino_text" data-rotext="7">
                <div class="img_box">
                    <img src="/img/marketing/trophy.webp" alt="">
                </div>
                <div class="text_box">
                    <h4 class="text_box_big">성과측정·최적화</h4>
                    <p>
                        <span class="point">캠페인 후 정밀한 성과 분석</span>을 통해 개선점을 도출하고, 다음 단계의 마케팅 전략에 <br>
                        반영합니다. ROI 분석을 바탕으로 <span class="point">지속적으로 최적화 작업을 수행</span>하여 장기적인 <br>
                        성과를 달성합니다.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <ul class="right_nav">
        <li data-nav="1">
            <span class="box"></span>
            <p>Wacus</p>
            <span class="nav_line"></span>
        </li>
        <li data-nav="2">
            <span class="box"></span>
            <p>시장조사</p>
            <span class="nav_line"></span>
        </li>
        <li data-nav="3">
            <span class="box"></span>
            <p>컨설팅</p>
            <span class="nav_line"></span>
        </li>
        <li data-nav="4">
            <span class="box"></span>
            <p>계획</p>
            <span class="nav_line"></span>
        </li>
        <li data-nav="5">
            <span class="box"></span>
            <p>컨텐츠</p>
            <span class="nav_line"></span>
        </li>
        <li data-nav="6">
            <span class="box"></span>
            <p>실행</p>
            <span class="nav_line"></span>
        </li>
        <li data-nav="7">
            <span class="box"></span>
            <p>성과측정·최적화</p>
            <span class="nav_line"></span>
        </li>
    </ul>

</div>



