---
const today = new Date();
---

<footer>
    <div class="footer_inner">
        <div class="left">
            <div class="first">
                <div class="title">와커스 레이크오피스</div>
                <ul class="con">
                    <li>서울시 송파구 송파대로 467 4F</li>
                    <li>대표번호. 070-4288-0067</li>
                    <li>사업자등록번호. 438-87-01938</li>
                </ul>
            </div>
            <div class="second">
                <div class="title">와커스 타워오피스</div>
                <ul class="con">
                    <li>서울 특별시 송파구 올림픽로 300,</li>
                    <li>롯데월드타워 30F workflex 3061</li>
                    <li>대표번호. 051-805-8245</li>
                    <li>사업자등록번호. 806-86-01930</li>
                </ul>
            </div>
            <div class="ft_img_box">
                <img src="/img/footer_wacus.png" alt="" class="law">
            </div>
        </div>
        <div class="right">
            <div class="first">
                <a href="/" >ABOUT WACUS
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_1039_134" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                        <rect width="24" height="24" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_1039_134)">
                        <path d="M16.5943 6.90384V15.3891L14.6144 15.3891L14.6144 10.298L8.109 16.8033L6.69478 15.3891L13.2002 8.88374L8.109 8.88374L8.109 6.90384H16.5943Z" fill="white"/>
                        </g>
                    </svg>  
                </a>
                <a href="/homepage">WACUS HOMEPAGE
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_1039_134" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                        <rect width="24" height="24" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_1039_134)">
                        <path d="M16.5943 6.90384V15.3891L14.6144 15.3891L14.6144 10.298L8.109 16.8033L6.69478 15.3891L13.2002 8.88374L8.109 8.88374L8.109 6.90384H16.5943Z" fill="white"/>
                        </g>
                    </svg>  
                </a>
                <a href="/marketing">WACUS MARKETING
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <mask id="mask0_1039_134" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="24" height="24">
                        <rect width="24" height="24" fill="#D9D9D9"/>
                        </mask>
                        <g mask="url(#mask0_1039_134)">
                        <path d="M16.5943 6.90384V15.3891L14.6144 15.3891L14.6144 10.298L8.109 16.8033L6.69478 15.3891L13.2002 8.88374L8.109 8.88374L8.109 6.90384H16.5943Z" fill="white"/>
                        </g>
                    </svg>  
                </a>
            </div>
            <div class="second">Copyright ©WACUS All right reserved.</div>
        </div>
    </div>
	
</footer>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script is:inline src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script is:inline src="../../public/js/allsmoth.js"></script>
<script is:inline src="../../public/js/aos-init.js"></script>
