---

---
<div class="section4"> 
    <div class="s4_con">
        <div class="s4_split">
            <p>ABOUT WACUS<span class="c2">.</span></p>
        </div>
        <div class="s4_txt_group">
            <p>변화하는 디지털 시대, 웹 에이전시의 역할이 재정의되고 있습니다.</p>
            <p>그 이유는 변화하는 세상의 트렌드를 따라가지 못하기 때문입니다.</p>
            <p>클라이언트들은 원합니다. 웹과 마케팅 둘 다 한 곳에서 진행하기를</p>
            <p>그렇기에  WACUS가 탄생하였습니다.</p>
        </div>
        <!-- <div class="s4_vid">
            <div class="s4_vid_bx">
                 <video src="/video/s4_vid3.mp4" muted playsinline autoplay loop></video>
            </div>
        </div> -->
    </div>
</div>

