---

---
<div class="section8"> 
   <div class="s8_con">
        <div class="s8_tit_group8">
            <h2>F&A</h2>
            <h3><span>자주 묻는 질문</span></h3>
        </div>

        <ul class="fna_list_group">
            <li>
                <div class="fna_list_tit_group">
                    <div class="fna_list_tit">
                        <div class="q">Q</div>
                        <p>
                            블로그 글이 이상해요.
                        </p>
                    </div>
                    <div class="fna_arr">
                        <img src="/img/fna_arr.png" alt="">
                    </div>
                </div>
                <div class="fna_answer_group">
                    <div class="answer_wrap">
                        현재 네이버의 경우 상위노출을 할 수 있는 로직이 지속적으로 변화하고 있습니다.<br>
                        로직에 따라 원하는 내용의 글이 아닌 전혀 다른 내용의 글이 들어가 있을 수 있습니다.<br>
                        이는 상위노출을 위해 필요한 작업으로 말투부터 시작하여 전혀 관계 없는 내용이 들어가게 되는데<br>
                        이 또한 어떤 대행사를 쓰는지에 따라 표현하고자 하는 바의 전달 유무가 달라지게 됩니다.
                    </div>

                </div>
            </li>
            <!-- <li>
                <div class="fna_list_tit_group">
                    <div class="fna_list_tit">
                        <div class="q">Q</div>
                        <p>
                            언론사 포스트와 블로그는 다른가요?
                        </p>
                    </div>
                    <div class="fna_arr">
                        <img src="/img/fna_arr.png" alt="">
                    </div>
                </div>
                <div class="fna_answer_group">
                    <div class="answer_wrap">
                        언론사 포스트와 블로그는 기본적으로 같은 위치에 노출이 되어지며 블로그 탭에서 확인하실 수 있습니다.<br>
                        블로그의 경우 일반적으로 익히 알고 있는 글을 배포하는 방식입니다.<br>
                        언론사 포스트의 경우 블로그와 다르게 언론사를 통하여 포스트를 올리는 방법입니다.<br>
                        언론사 포스트를 통하여 발행을 한다면 일반 블로그와는 다르게 공신력이 있어 신빙성을 더욱 높여주며<br>
                        글이 가지고 있는 힘이 높아서 경쟁성이 높은 키워드에 노출이 되기 좋은 장점을 지니고 있습니다.
                    </div>
                </div>
            </li> -->
            <li>
                <div class="fna_list_tit_group">
                    <div class="fna_list_tit">
                        <div class="q">Q</div>
                        <p>
                            블로그를 진행했는데 홈페이지 유입이 늘어난 것 같지 않아요.
                        </p>
                    </div>
                    <div class="fna_arr">
                        <img src="/img/fna_arr.png" alt="">
                    </div>
                </div>
                <div class="fna_answer_group">
                    <div class="answer_wrap">
                        블로그는 기본적으로 홈페이지 유입보다는 인터넷 상에서 불특정 다수에게 노출을 하는 브랜딩 위주의 베이직 마케팅입니다.<br>
                        최근 소비자들은 다양한 광고를 통하여 내용을 접하더라도 해당 내용에 대한 확인을 블로그를 통해 확인 후 결정을 하고 있습니다.<br>
                        예를 들면 가까운 맛집 알아보더라도 블로그를 통해 어떤 메뉴 그리고 어떤 후기가 있는 지 등을 확인 한 후 결정을 하는 것과 같습니다.<br>
                        이에 따라 홈페이지의 유입을 늘리길 원하신다면 퍼포먼스 광고와 같은 공격적인 마케팅을 하는 것이 추천되어집니다.<br>
                        다만 위에서 말씀 드린 것처럼 최종적으로 확인은 블로그를 통해 확인을 하기에 같이 병행을 하는것이 바람직합니다. 
                    </div>
                </div>
            </li>
            <li>
                <div class="fna_list_tit_group">
                    <div class="fna_list_tit">
                        <div class="q">Q</div>
                        <p>
                            마케팅 무엇부터 진행해야 할 지 모르겠어요.
                        </p>
                    </div>
                    <div class="fna_arr">
                        <img src="/img/fna_arr.png" alt="">
                    </div>
                </div>
                <div class="fna_answer_group">
                    <div class="answer_wrap">
                        마케팅 시작이 중요합니다. <br>
                        처음 마케팅이 너무 공격적으로 나가게 된다면 브랜드 이미지에 손상을 입게 되어 이후 회복까지는 오랜 시간이 걸리게 되어집니다.<br>
                        마케팅을 처음 시작하신다고 한다면 브랜드를 살릴 수 있는 블로그와 언론사 포스트, SNS 등의 마케팅을 먼저 시작하시는게 좋습니다.<br>
                        또한 혼자 하시기보다는 대행사를 통하여 진행을 하시는게 좋고 첫 마케팅은 브랜딩을 잘 설립해줄 수 있는 대행사와 진행을 하는것이 좋습니다.<br>
                        너무 저렴하거나 형식적인 대처만 하는 대행사는 브랜드 이미지를 실추시켜 다시 회복을 시키기 어려우므로 신중하게 고르는 것이 좋습니다. 
                    </div>
                </div>
            </li>
            <li>
                <div class="fna_list_tit_group">
                    <div class="fna_list_tit">
                        <div class="q">Q</div>
                        <p>
                            홈페이지 접속량이 너무 적어요.
                        </p>
                    </div>
                    <div class="fna_arr">
                        <img src="/img/fna_arr.png" alt="">
                    </div>
                </div>
                <div class="fna_answer_group">
                    <div class="answer_wrap">
                        홈페이지의 접속량이 너무 적다면 2가지를 의심해 볼 수 있습니다.<br>
                        첫째: 현재 어떤 마케팅을 하고 있는지 파악이 중요하며 또한 어디에 그리고 어떤 대상에게 노출이 되어지고 있는지를 확인하여 적절한 대상과 노출이 되어지고 있는지를 의심해봐야합니다.<br>
                        둘째: 마케팅을 하는 곳에 홈페이지 링크가 제대로 삽입이 되어있는지 그리고 홈페이지로 유도가 잘 되어있는지를 의심해봐야합니다.<br>
                        이처럼 홈페이지는 가만히 둔다고 늘어나지는 않습니다. <br>
                        오히려 다른 경쟁업체들이 유입을 하도록 마케팅을 진행하여 감소가 되어질 수 있기 때문에 정확한 문제를 판단하여 빠른 대처를 하는 것이 중요합니다. 
                    </div>
                </div>
            </li>
            <li>
                <div class="fna_list_tit_group">
                    <div class="fna_list_tit">
                        <div class="q">Q</div>
                        <p>
                            홈페이지에 오류가 났어요.
                        </p>
                    </div>
                    <div class="fna_arr">
                        <img src="/img/fna_arr.png" alt="">
                    </div>
                </div>
                <div class="fna_answer_group">
                    <div class="answer_wrap">
                        홈페이지가 오류나는 경우에도 여러가지 경우가 있습니다.<br>
                        가장 일반적으로는 홈페이지에서 쓰고 있는 호스팅 상품에 대비하여 홈페이지의 유입자 수가 급격하게 늘어 트래픽이 초과되어 홈페이지가 내려가 오류처럼 보이는 경우가 있습니다.<br>
                        또한 외부 공격을 받는 경우나 수정을 하다가 코드를 잘못 건들었을때 등 다양한 이유가 존재하기에 이런 경우 해당 증상을 가지고 홈페이지를 제작하는 전문업체에 빠르게 문의하는게 좋습니다.
                    </div>
                </div>
            </li>
        </ul>
   </div>
</div>

<style>

</style>




<!-- 2번 -->

<script>
gsap.registerPlugin(SplitText, ScrollTrigger) ;

const s8Split = new SplitText('.s8_con .s8_tit_group8',{type:'chars'});
gsap.from(s8Split.chars, {
    scrollTrigger: {
        trigger: ".section8",
        start: "top top+=50%",
        end: "top+=200 top+=50%",
        scrub: 1,
        // markers: true,
    },
    duration: 2, 
    y:-20, 
    opacity:0,
    stagger: 0.1,
});
gsap.from('.mainpage .s8_con h3 span', {
    scrollTrigger: {
        trigger: ".section8",
        start: "top top+=50%",
        end: "top+=200 top+=50%",
        scrub: 1,
        // markers: true,
    },
    borderWidth:0,
});


</script>
