---

---
<div class="section7" id="s7" > 
    <div class="s7_con">
        <div class="s7_con_group s7_con_group1 on">
            <div class="s7_img" id="triangular">
                <img src="/img/s7_stone_01.gif" alt="보석1" loading="lazy" onclick='location.href="https://wacuskorea.com/marketing"'>
            </div>
            
            <div class="s7_hover_bx">
                <a href="/marketing">온라인 마케팅 알아보기</a>
            </div>
            
            <div class="s7_txt_group">
                <h2>Online Marketing</h2>
                 <h3>
                    기획부터 광고 실행까지  <br>
                    <span class="c2">wacus 온라인 마케팅</span>
                 </h3>
                 <p>
                    바이럴 마케팅은 소비자에게 더 쉽고 더 빠르고 더 많이  <br>
                    나의 브랜드를 노출 시킬 수 있습니다. <br>
                    이를 통해 짧은 시간 다양한 키워드로 내 브랜드를 알려보세요. <br>
                    와커스에서 여러분의 파트너가 되겠습니다.
                 </p>
                 <div class="s7_txt_tag_group">
                    <div class="s7_tag">
                        #IMC
                    </div>
                    <div class="s7_tag">
                        #컨설팅
                    </div>
                    <div class="s7_tag">
                        #영상제작
                    </div>
                 </div>
            </div>
            <div class="s7_off_txt">
                Online Marketing
            </div>
        </div>

        <div class="s7_con_group s7_con_group2">
            <div class="s7_img" id="stone">
                <img src="/img/s7_stone_02.gif" alt="보석2" loading="lazy" onclick='location.href="https://wacuskorea.com/homepage"'>
            </div>
            <div class="s7_hover_bx">
                <a href="/homepage">홈페이지 알아보기</a>
            </div>
            <div class="s7_txt_group">
                <h2>Homepage</h2>
                 <h3>
                    웹사이트는 기업의 옷! <br>
                    <span class="c2">wacus 홈페이지 제작</span>
                 </h3>
                 <p>
                    홈페이지는 브랜드의 얼굴입니다. <br>
                    첫인상이 중요한 만큼, 신뢰를 주는 디자인과 <br>
                    사용자 중심의 구조가 필수입니다. <br>
                    와커스는 트렌디한 감각과 기술력으로 여러분의 브랜드를 <br>
                    가장 잘 보여줄 수 있는 홈페이지를 제작합니다.<br>
                    브랜드 맞춤형 웹사이트, 와커스와 함께 시작하세요.
                 </p>
                 <div class="s7_txt_tag_group">
                    <div class="s7_tag">
                        #IMC
                    </div>
                    <div class="s7_tag">
                        #컨설팅
                    </div>
                    <div class="s7_tag">
                        #영상제작
                    </div>
                 </div>
            </div>
            <div class="s7_off_txt">
                Homepage
            </div>
        </div>
    </div>
   
</div>