---

---
<div class="section6"> 
    <div class="s6_tl"></div>
    <div class="s6_con">
        <div class="s6_tit_group">
            <div class="s6_tit_group1">
                <h2>
                    OUR EXPERIENCE
                </h2>
                <h3>
                    <span>우리의 경험</span>
                </h3>
            </div>
            <p>
                와커스는 알고 있습니다. <br>
                결과는 절대 거짓말을 하지 않는다는 것을  
            </p>
        </div>

     
        
        
        
        
    </div>

    <div class="how_many_con">
        <div class="svg_group">
            <!-- <svg class="white" width="1920" height="716" viewBox="0 0 1920 716" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line  x1="-0.174491" y1="715.531" x2="1919.83" y2="0.531405" stroke="white"/>
            </svg>
            <svg class="blue" width="1920" height="716" viewBox="0 0 1920 716" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line class="s6_line" x1="-0.174541" y1="715.531" x2="1918.99" y2="0.610903" stroke="#00D0FF"/>
            </svg> -->
            <svg class="white" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line  x1="0" y1="100%" x2="100%" y2="0" stroke="white"/>
            </svg>
            <svg class="blue" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line class="s6_line" x1="0" y1="100%" x2="100%" y2="0" stroke="#00D0FF"/>
            </svg>

        </div>

        <div class="s6_dot_group s6_dot_group1">
            <div class="s6_dot_txt_group">
                <div class="s6_dot_img">
                    <div class="lightBox">
                        <img src="/img/light2_on.webp" alt="Web" loading="lazy">
                        <img src="/img/light2.webp" alt="Web" loading="lazy">
                    </div>
                </div>
                <div class="s6_dot_tit">
                    Web
                </div>
                <div class="s6_dot_num">
                    <div class="num">194</div>+
                </div>
            </div>
            <div class="s6_dot"></div>
        </div>
        <div class="s6_dot_group s6_dot_group2">
            <div class="s6_dot_txt_group">
                <div class="s6_dot_img">
                    <div class="arrowBox">
                        <img src="/img/s1Arrow.webp" alt="Marketing" class="arrow" loading="lazy">
                        <img src="/img/targetOn.webp" alt="Marketing" class="targetOn" loading="lazy">
                        <img src="/img/targetOff.webp" alt="Marketing" class="targetOff" loading="lazy">
                    </div>
                </div>
                <div class="s6_dot_tit">
                    Marketing
                </div>
                <div class="s6_dot_num">
                    <div class="num">680</div>+
                </div>
                
            </div>
            <div class="s6_dot"></div>
        </div>
        <div class="s6_dot_group s6_dot_group3">
            <div class="s6_dot_txt_group">
                <div class="s6_dot_img">
                    <div class="chartBox">
                        <img src="/img/chart.webp" alt="Performance" loading="lazy">
                    </div>
                </div>
                <div class="s6_dot_tit">
                    Performance
                </div>
                <div class="s6_dot_num">
                    <div class="num">163</div>+
                </div>
            </div>
            <div class="s6_dot"></div>
        </div>
        <div class="s6_dot_group s6_dot_group4">
            <div class="s6_dot_txt_group">
                <div class="s6_dot_img">
                    <div class="cameraBox">
                        <img src="/img/camera_on.webp" alt="Video" loading="lazy">
                        <img src="/img/camera.webp" alt="Video" loading="lazy">
                    </div>
                </div>
                <div class="s6_dot_tit">
                    Video
                </div>
                <div class="s6_dot_num">
                    <div class="num">387</div>+
                </div>
                
            </div>
            <div class="s6_dot"></div>
        </div>

        

    </div>
</div>

