---

---
<div class="section2">
    <div class="s2_tl"></div>
    <!-- <video src="/video/video_6.mp4#t=0.5" playsinline="true" webkit-playsinline="true" preload="metadata" muted="muted" class="video-background TB"></video>
    <video src="/video/video_mo.mp4#t=0.5" playsinline="true" webkit-playsinline="true" preload="metadata" muted="muted" class="video-background MB"></video> -->

    <div class="s2_con">
        <div class="s2_first">
            <div class="s2_circle">
                <svg id="_레이어_2" data-name="레이어 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 760 760">
                    <defs>
                      <style>
                        .cls-1 {
                          fill: none;
                          stroke: #a3a3a3;
                        }
                      </style>
                    </defs>
                    <g id="_레이어_1-2" data-name="레이어 1">
                      <path class="cls-1" d="M380,.5h0c209.59,0,379.5,169.91,379.5,379.5h0c0,209.59-169.91,379.5-379.5,379.5h0C170.41,759.5.5,589.59.5,380h0C.5,170.41,170.41.5,380,.5Z"/>
                    </g>
                  </svg>
            </div>
            <div class="s2_first_txt_group">
                <div class="s2_first_txt_group_1 hide">
                    <div class="s2_first_txt1">행성처럼 완벽하게</div>
                    <div class="s2_first_txt2">We Pursue Branding <br class="MB">With Effectiveness <span class="c2">.</span></div>
                    <div class="s2_first_txt3">
                        디지털 공간은 우주처럼 무한한 가능성으로 가득하지만,  <br>
                        성공으로 가는 길을 찾는 것은 쉽지 않습니다 <br>
                        <span class="bold c2">
                            와커스는 혼란스러운 디지털 세계에서 명확하게  <br>
                            궤도에 정렬된 마케팅을 제공합니다.
                        </span>
                    </div>
                </div>
                <div class="s2_first_txt_group_2">
                    <div class="s2_common_txt1">
                        Date-Driven <br>
                        Decision Making <span class="c2">.</span>
                    </div>
                    <div class="s2_common_txt2">
                        현대 마케팅은 <br>
                        <span class="c2">데이터 분석을 통해</span> 의사결정을 <br>
                        내리는 것이 필수입니다.
                    </div>
                </div>
            </div>

            <div class="s2_second_cir s2_second_cir1">
                <div class="cir_bx">
                    <img src="/img/s2_cir.png" alt="">
                </div>
                <div class="s2_first_txt_group_2">
                    <div class="s2_common_txt1">
                        Customer-Centric  <br>
                        Approach <span class="c2">.</span>
                    </div>
                    <div class="s2_common_txt2">
                        성공적인 마케팅은 <br>
                        <span class="c2">고객의 니즈와 경험을 최우선</span>으로 <br>
                        삼는 데서 시작됩니다.
                    </div>
                </div>
            </div>

            <div class="s2_second_cir s2_second_cir2">
                <div class="cir_bx">
                    <img src="/img/s2_cir.png" alt="">
                </div>
                <div class="s2_first_txt_group_2">
                    <div class="s2_common_txt1">
                        Consistent Brand <br>
                        Experience <span class="c2">.</span>
                    </div>
                    <div class="s2_common_txt2">
                        모든 채널과 접점에서 <br>
                        <span class="c2">일관된 메시지와 정체성</span>을 <br>
                        유지하는 것이 중요합니다.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

</script>