---
--- 

<div class="section5" data-scroll> 
    <div class="s5_con">
      <div class="s5_tit_group">
        <h2>
            OUR SERVICE
        </h2>
        <p>
            <span>와커스</span>는 <span>각 분야별 전문가</span>가  <br>
            <span>철저한 분석</span>을 통해  <br>
            <span>최적의 상품</span>을 <span>제안</span>합니다.
        </p>
      </div>

      <ul class="s5_list_group">
        <li >
            <div class="s5_list_img">
                <img class="js-image" src="/img/main_s2_01.gif" alt="온라인_마케팅" >
            </div> 
            <div class="s5_list_tit_group">
                <h4>온라인 마케팅</h4>
                <p>온라인 마케팅의 기본! 나를 알리는 가장 빠른 방법</p>
            </div>
        </li>
        <li>
            <div class="s5_list_img">
                <img class="js-image" src="/img/main_s2_02.gif" alt="web&homepage" >
            </div>
            <div class="s5_list_tit_group">
                <h4>web & homepage</h4>
                <p>최신 트렌드와 기술을 반영한 고퀄리티 웹 사이트 제작</p>
            </div>
        </li>
        <li>
            <div class="s5_list_img">
                <img class="js-image" src="/img/main_s2_03.gif" alt="퍼포먼스_마케팅" >
            </div>
            <div class="s5_list_tit_group">
                <h4>퍼포먼스 마케팅</h4>
                <p>마케팅은 데이터를 통한 정보전! 나에게 맞는 최적의 광고를 셋팅</p>
            </div>
        </li>
        <li>
            <div class="s5_list_img">
                <img class="js-image" src="/img/main_s2_04.gif" alt="영상제작" >
            </div>
            <div class="s5_list_tit_group">
                <h4>영상제작</h4>
                <p>이제는 영상을 통해 나를 알리자! 영상을 통한 광고, 브랜딩의 시작</p>
            </div>
        </li>
      </ul>
      
    </div>
</div>
<!-- <ME /> -->
<style>

</style>
