<section class="section sc_intro">
    <ul class="list">
        <li>
            <div class="_cover">
                <img src="/img/medical/sc_intro_img1.png" alt="">
            </div>
            <div class="txt_wrap">
                <strong>온라인 첫 만남</strong>
                <p>
                    선택받는 병원의 공통점, 잘 만든 홈페이지입니다. <br>
                    신뢰는 검색에서 시작되고, 홈페이지로 완성됩니다
                </p>
            </div>
        </li>
        <li>
            <div class="_cover">
                <img src="/img/medical/sc_intro_img2.png" alt="">
            </div>
            <div class="txt_wrap">
                <strong>브랜드 신뢰 형성</strong>
                <p>
                    병원의 신뢰와 브랜드는 로고가 아니라<br class="br_none">
                    웹사이트와 콘텐츠에서 만들어집니다.
                </p>
            </div>
        </li>
        <li>
            <div class="_cover">
                <img src="/img/medical/sc_intro_img3.png" alt="">
            </div>
            <div class="txt_wrap">
                <strong>검색 노출과 SEO</strong>
                <p>
                    검색 결과에 병원이 보이지 않으면, <br class="br_none">
                    아무리 좋은 진료도 소용없습니다. <br>
                    SEO는 선택받기 위한 기본입니다.

                </p>
            </div>
        </li>
    </ul>
</section>