<section class="section sc_needs">
    <div class="inner">
      <div class="circle_path">
        <div class="bg"></div>
        <div class="rotate_txt">
          <img
            src="/img/medical/sc_needs_rotate.svg"
            alt="wacus medical hompage"
          />
        </div>
      </div>
      <div class="txt">
        <div class="box">
          <h3 class="on">
            병원에<br class="mobile_block" />
            과연 홈페이지가 <br class="mobile_block" />필요한가요?
          </h3>
          <h3>
            와커스에서 <br class="mobile_block" />
            가장 많이 듣는 <br class="mobile_block" />질문입니다.
          </h3>
          <h3>
            저희는 말합니다
            <br class="mobile_block"/>
            “네“라고
          </h3>
        </div>
      </div>
    </div>
  </section>