<section class="section sc_inquiry">
    <div class="s_inner">
        <div class="img_wrap">
            <img src="/img/medical/sc_inquiry_circle.png" alt="" />
        </div>
        <div class="txt_wrap">
        <div class="inner">
            <h4 class="mobile_block">병원</h4>
            <div class="txt">
            <ul class="change">
                <li>
                <h4>
                    <span class="pc_block">병원</span>
                    <span class="color-orange">홈페이지</span>가 필요할 때
                </h4>
                </li>
                <li>
                <h4>
                    <span class="pc_block">병원</span>
                    <span class="color-orange">브랜드</span>가 필요할 때
                </h4>
                </li>
            </ul>
            </div>
        </div>
        <div class="link_wrap">
            <a href="javascript:alert('준비중입니다')">
            <span>프로젝트 문의</span>
            <div class="icon_wrap">
                <img src="/img/medical/sc_inquiry_arrow.svg" alt="" />
            </div>
            </a>
        </div>
        </div>
    </div>
</section>