<div class="sec_title_box cet">
    <span>Why Hospital Marketing?</span>
    <h3>병원 마케팅이 왜 필요할까?</h3>
    <p>
        개원하는 병원은 늘고 지역내 경쟁이 심화되고 있는 현재,<br class="none_768">
        치열한 경쟁속에서 살아남기 위한 필수적인 <strong>마케팅</strong>
    </p>
</div>