#commercialHpIssue {
  position: relative;
  /* background: linear-gradient(90deg, #171717 0%, #000 100%); */
  padding: 8rem 0 10rem;
}

#commercialHpIssue .bg-circle-or {
  position: absolute;

  background: var(--color-point);
  mix-blend-mode: screen;
  filter: blur(13rem);
}
#commercialHpIssue .bg-circle-or.bg-circle-or-1 {
  top: 90%;
  right: -10rem;

  border-radius: 50%;

  width: 47rem;
  height: 42rem;
  min-width: 260px;
  min-height: 220px;

  opacity: 0.2;
}
#commercialHpIssue .bg-circle-or.bg-circle-or-2 {
  top: 100%;
  left: -4rem;

  width: 32rem;
  height: 32rem;

  min-width: 220px;
  min-height: 180px;

  opacity: 0.1;
}

.cmhp-issue__image {
  width: 100%;
  padding-top: 36%;

  margin-top: 8rem;

  background: url("/public/img/commercialHp/section4_img.jpg") no-repeat 50% 50% /
    cover;
}

.cmhp-issue__list {
  display: flex;
  flex-wrap: wrap;
  gap: 6rem;

  margin-top: 6rem;
}

.cmhp-issue__list li {
  position: relative;

  width: calc(50% - 4rem);

  padding-left: 3em;

  display: flex;
  align-items: center;

  font-size: 2.8rem;
  font-size: calc(18px + 1rem);
  font-weight: 300;
  color: #c4c4c4;
}

.cmhp-issue__list li:before {
  content: "";
  display: block;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);

  width: 2.14em;
  height: 2.14em;

  background: no-repeat 0 50% / contain;
}

.cmhp-issue__list li:nth-child(1):before {
  background-image: url("/public/img/commercialHp/section4_icon01.png");
}

.cmhp-issue__list li:nth-child(2):before {
  background-image: url("/public/img/commercialHp/section4_icon02.png");
}

.cmhp-issue__list li:nth-child(3):before {
  background-image: url("/public/img/commercialHp/section4_icon03.png");
}

.cmhp-issue__list li:nth-child(4):before {
  background-image: url("/public/img/commercialHp/section4_icon04.png");
}

.cmhp-issue__list li p {
}

.cmhp-issue__list li p .bold {
  color: var(--color-white);
}

.cmhp-issue__text {
  position: relative;

  margin-top: 14vh;
  padding: 2.4em 0;

  font-size: 4rem;
  font-size: calc(18px + 2.2rem);
  font-weight: 250;
  text-align: center;
}

.cmhp-issue__text:before,
.cmhp-issue__text:after {
  content: "";
  display: block;

  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);

  width: 0.8em;
  height: 0.8em;

  background: url("/public/img/commercialHp/icon_quot.png") no-repeat 50% 50% /
    contain;
}

.cmhp-issue__text:before {
  top: 0;
}

.cmhp-issue__text:after {
  bottom: 0;
  transform: translate(-50%, 0) rotate(180deg);
}

.cmhp-issue__text p + p {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .cmhp-issue__list {
    justify-content: center;
    gap: 10rem;

    margin-top: 10rem;
  }

  .cmhp-issue__list li {
    width: 100%;
    max-width: 26em;
  }
}

@media (max-width: 500px) {
  .cmhp-issue__list li {
    max-width: 16em;
  }

  #commercialHpIssue .bg-circle-or.bg-circle-or-1 {
    right: -30%;
  }
  #commercialHpIssue .bg-circle-or.bg-circle-or-2 {
    left: -20%;
  }
}
