#commercialHpNeed {
  background: linear-gradient(90deg, #171717 0%, #000 100%);
}

.cmhp-need__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.cmhp-need__images .image-item {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-position: 110% 0;
  background-size: 60%;

  opacity: 0;
  transition: opacity 0.8s ease;
}

.cmhp-need__images .image-item.on {
  opacity: 1;
}

.cmhp-need__images .image-item:nth-child(1) {
  background-position: 105% 0;
  background-image: url("/public/img/commercialHp/section3_bg01.png");
}
.cmhp-need__images .image-item:nth-child(2) {
  background-position: -20% 100%;
  background-image: url("/public/img/commercialHp/section3_bg02.png");
}

.cmhp-need__images .image-item:nth-child(3) {
  background-position: 100% 50%;
  background-image: url("/public/img/commercialHp/section3_bg03.png");
}

.cmhp-need__scrolling-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-100% / 3 / 2));
  z-index: 10;

  width: 100%;
}

.cmhp-need__scrolling-text .text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.cmhp-need__scrolling-text .text-item {
  font-family: var(--font-mbc);
  font-size: 5rem;
  font-size: calc(18px + 3.2rem);
  line-height: 1.2;
  text-align: center;
  color: #383838;

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.6em;

  transition: all 0.4s ease-in-out;
}

.cmhp-need__scrolling-text .text-item.on {
  font-size: 6.2rem;
  font-size: calc(20px + 4.2rem);
  color: var(--color-white);
}

.cmhp-need__scrolling-text .text-item.on > p > span {
  color: var(--color-point);
}

@media (max-width: 768px) {
  .cmhp-need__scrolling-text .text-wrapper {
    gap: 6rem;
  }
}

@media (max-aspect-ratio: 4/3) {
  .cmhp-need__images .image-item {
    background-size: 120%;
  }

  .cmhp-need__images .image-item:nth-child(1) {
    background-position: -50% 40%;
  }
  .cmhp-need__images .image-item:nth-child(2) {
    background-position: 120% 80%;
  }

  .cmhp-need__images .image-item:nth-child(3) {
    background-position: -50% 60%;
  }
}

@media (max-aspect-ratio: 9/16) {
  .cmhp-point__top-area {
    padding: 18vh 0 6vh;
  }
}

.lang-en .cmhp-need__scrolling-text .text-item {
  font-size: calc(13.77px + 2.448rem);
}

.lang-en .cmhp-need__scrolling-text .text-item.on {
  font-size: calc(15.3px + 3.213rem);
}

@media (max-width: 1200px) {
  .lang-en .cmhp-need__scrolling-text .text-item {
    font-size: calc(12.393px + 2.2032rem);
  }

  .lang-en .cmhp-need__scrolling-text .text-item.on {
    font-size: calc(13.77px + 2.8917rem);
  }
}
