<link rel="stylesheet" href="/mousegrid.css">
<script is:inline src="/mousegrid.js"></script>
<div class="mouseGrid">
    <div class="verticalPointer"></div>
    <div class="horizonPointer"></div>
</div>
