<section class="section sc-04">
    <h2 class="blind">와커스 마케팅 프로세스</h2>
    <div class="inner">
        <div class="left">
            <div class="sticky">
                <div class="img-area">
                    <img src="../../public/img/cm/img-process01.webp" alt="">
                </div>
            </div>
        </div>
        <div class="right">
            <div class="process-area">
                <ol class="process-list">
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">1</div>
                                <i class="ico ico-process-01"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">브랜드/제품 포지셔닝 시장조사 및 전략 수립</p>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">2</div>
                                <i class="ico ico-process-02"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">컨텐츠 기획 (영상, 랜딩페이지, SNS, 블로그 등)</p>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">3</div>
                                <i class="ico ico-process-03"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">온라인 광고실행 (검색광고, 디스플레이, 유튜브)</p>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">4</div>
                                <i class="ico  ico-process-04"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">성과 분석 및 리포팅</p>
                        </div>
                    </li>
                    <li class="process-item">
                        <div class="num-area">
                            <div class="num-box">
                                <div class="num">5</div>
                                <i class="ico ico-process-05"></i>
                            </div>
                        </div>
                        <div class="txt-area">
                            <p class="process-txt">캠페인 분석 및 최적화 운영</p>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>