<section class="section sc-05">
    <div class="txt-area">
        <h2 class="sc-ttl" data-aos="fade-up">
            <span class="color-blue">와커스</span>처럼 ‘온라인 중심’ <br>
            마케팅 대행사라면?
        </h2>
        <hr class="line" data-aos="fade-up">
        <p class="desc" data-aos="fade-up">
            <em class="fw-700">B2B 마케팅</em>에는 기획력과 컨텐츠 제작력을 제공하고<br>
            <em class="fw-700">B2C 마케팅</em>에는 퍼포먼스와 트렌디한 감각을 보여주겠습니다.
        </p>
    </div>
    <div class="link-area" >
        <a href="https://wacus.co.kr/portfolio/index.php?cate=web" class="link">
            <span class="txt-dot">View Portfolio</span>
            포트폴리오 보러가기
        </a>
        <a href="/contact" class="link">
            <span class="txt-dot">Contact Us</span>
            프로젝트 함께하기
        </a>
    </div>
</section>