<section class="section sc-02">
    <div class="sticky-wrapper">
        <div class="sticky">
            <div class="ttl-area">
                <h2 class="sc-ttl">
                    <strong class="ttl-txt split-txt txt01">내 브랜드에 맞는<br class="mobile"> 전략이 있을까?</strong>
                    <strong class="ttl-txt split-txt txt02">고객 여정에 맞는 마케팅을<br class="mobile"> 구성하는 것이 <span class="color-blue">핵심</span></strong>
                </h2>
            </div>
        </div>
    </div>
    <div class="vertical">
        <div class="sticky-wrapper">
            <div class="sticky">
                <div class="strategy-area">
                    <div class="strategy-wrapper">
                        <ul class="strategy-list">
                            <li class="strategy-item first">
                                <div class="img-area">
                                    <img src="../../public/img/cm/img-strategy01.webp" alt="">
                                </div>
                                <strong class="strategy-ttl">문제 인식 & 관심</strong>
                            </li>
                            <li class="strategy-item">
                                <div class="img-area">
                                    <img src="../../public/img/cm/img-strategy02.webp" alt="">
                                </div>
                                <strong class="strategy-ttl">문제 인식 & 관심</strong>
                            </li>
                            <li class="strategy-item end">
                                <div class="img-area">
                                    <img src="../../public/img/cm/img-strategy03.webp" alt="">
                                </div>
                                <strong class="strategy-ttl">비교 및 평가</strong>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="horizon">
        <div class="sticky">
            <div class="strategy-area">
                <ul class="strategy-list">
                    <li class="strategy-item first pc">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy01.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">문제 인식 & 관심</strong>
                    </li>
                    <li class="strategy-item">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy02.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">문제 인식 & 관심</strong>
                    </li>
                    <li class="strategy-item">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy03.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">비교 및 평가</strong>
                    </li>
                    <li class="strategy-item">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy02.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">구매 결정 후 경험 공유</strong>
                    </li>
                    <li class="strategy-item">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy01.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">문제 인식 & 관심</strong>
                    </li>
                    <li class="strategy-item pc">
                        <div class="img-area">
                            <img src="../../public/img/cm/img-strategy02.webp" alt="">
                        </div>
                        <strong class="strategy-ttl">문제 인식 & 관심</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>