<section class="section sc-01">
    <div class="sticky-wrapper">
        <div class="sticky">
            <div class="bg-area">
                <video src="../../public/video/cm/cm-main-video.mp4" autoplay muted loop playsinline></video>
            </div>
            <div class="ttl-area">
                <h2 class="sc-ttl">
                    <div class="wrapper wrapper-01">
                        <strong class="ttl-txt split-txt">와커스,<br class="mobile"> 마케팅의 경계를</strong>
                        <div class="txt-box">
                            <span class="txt">Marketing Innovation</span>
                        </div>
                    </div>
                    <div class="wrapper wrapper-02">
                        <strong class="ttl-txt split-txt">IT와 AI로 넘다!</strong>
                        <div class="txt-box">
                            <span class="txt">AI Integration</span>
                        </div>
                    </div>
                </h2>
                <p class="sub-ttl">우리는 광고보다 결과로 말합니다</p>
            </div>
        </div>
    </div>
</section>