---
import "../../../public/css/commercialHp/commercialHp3.css";
---

<section id="commercialHpNeed" class="cmhp-section">
    <div class="full-sticky-container">
        <div class="cmhp-need__images">
            <div></div>
        </div>
        <div class="cmhp-need__scrolling-text">
            <div class="text-wrapper">
                <div class="text-item on">지금 필요한 건 회사 소개를 넘어 <span>실제 고객의 행동을 유도</span>하고,</div>
                <div class="text-item">정보를 효과적으로 전달하며, <span>기업의 방향성과 신뢰도</span>를 </div>
                <div class="text-item"><span>구조적으로 보여주는 웹사이트</span>입니다.</div>
            </div>  
        </div>
    </div>
</section>


<script>
    import "../../../public/js/commercialHp/commercialHp3.js";
</script>
