---
import "../../../public/css/commercialHp/commercialHp7.css";
---

<section id="commercialHpContact" class="cmhp-section">
    <div class="cmhp-container">
        <div class="cmhp-contact__title">
            <h3 class="cmhp-heading sm">
                지금, 우리 기업에 <span class="color-or">필요한 웹사이트란?</span>
            </h3>
        </div>
        <div class="cmhp-contact__content">
            <div class="cmhp-contact__line"></div>
            <div class="cmhp-contact__text">
                <p>지금의 홈페이지가 더 이상 기업의 역할을 대변하지 못한다면, 지금이 바로 구조를 바꿔야 할 때입니다.</p>
                <ul>
                    <li>내부와 외부 커뮤니케이션이 단절돼있나요?</li>
                    <li>채용, 문의, 제품/서비스 소개 페이지가 흩어져 있나요?</li>
                    <li>정보 전달보다는 인상을 남기고 싶은가요?</li>
                </ul>
                <p>지금 필요한 건 단순한 리뉴얼이 아닙니다. <br/>우리 비즈니스의 흐름에 맞춰 움직이는, <span class="color-or bold">커머셜 홈페이지</span>입니다.</p>
            </div>
            <div class="cmhp-contact__link">
                <a href="" class="link-item link-item--portfolio">
                    <div>
                        <span>View Portfolio</span>
                        <p>포트폴리오 보러가기</p>
                    </div>
                </a>
                <a href="" class="link-item link-item--contact">
                    <div>
                        <span>Contact Us</span>
                        <p>프로젝트 함께하기</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    import "../../../public/js/commercialHp/commercialHp7.js";
</script>
