---
import "../../../public/css/commercialHp/commercialHp4.css";
---

<section id="commercialHpIssue" class="cmhp-section">
    <div class="cmhp-container">
        <div class="cmhp-issue__title">
            <h3 class="cmhp-heading split--words">
                기존 홈페이지, <br />
                <span class="color-or">이런 문제는</span> 없으셨나요?
            </h3>
        </div>
        <div class="cmhp-issue__content">
            <div class="cmhp-issue__image">
                <div></div>
            </div>
            <ul class="cmhp-issue__list">
                <li>
                    <p>모바일에선 콘텐츠가 잘리거나 <span class="br-500"></span><span class="bold">너무 작게 표시됩니다.</span></p>
                </li>
                <li >
                    <p>관리가 어려워 운영자가 <span class="br-500"></span><span class="bold">수정을 망설이게 됩니다.</span></p>
                </li>
                <li>
                    <p>핵심 정보를 <span class="bold">찾기까지 <span class="br-500"></span>3~4번 이상 클릭</span>해야 합니다.</p>
                </li>
                <li>
                    <p>기업의 강점은 드러나지 않고, <span class="br-500"></span><span class="bold">정보만 나열되어 있습니다.</span></p>
                </li>
            </ul>
            <div class="cmhp-issue__text">
                <p>단순히 오래됐기 때문이 아닙니다.</p>
                <p>디자인은 괜찮지만, <span class="color-or bold">비즈니스 목적에 맞는 구조가 부족한 것</span>입니다.</p>
                <p>커머셜 홈페이지는 이런 문제들을 <span class="color-or bold">근본적으로 해결</span>하기 위해 만들어집니다.</p>
            </div>
        </div>
    </div>
    <div class="bg-circle-or bg-circle-or-1 parallax" data-depth="2.4"></div>
    <div class="bg-circle-or bg-circle-or-2 parallax" data-depth="1.8"></div>
</section>

<script>
    import "../../../public/js/commercialHp/commercialHp4.js";
</script>
