---
import "../../../public/css/commercialHp/commercialHp6.css";
---

<section id="commercialHpMethod" class="cmhp-section bg-change">
    <div class="cmhp-container">
        <div class="cmhp-method__title">
            <h3 class="cmhp-heading split--words">
                <span class="color-or">와커스의 </span> 커머셜 <span class="br-500"></span>웹 구축 방식
            </h3>
            <div class="cmhp-desc split--words">
                <p>와커스는 단순한 디자인이 아닌, <span class="bold">"기업의 목적에 맞는 구조 설계"</span>부터 시작합니다.</p>
            </div>
        </div>
        <div class="cmhp-method__content">
            <div class="cmhp-method__polygon">
                <div class="polygon-wrap">
                    <div class="cmhp-method__polygon-img">
                        <img src="/public/img/commercialHp/section6_polygon_img01_1.png" alt="">
                    </div>
                    <div class="cmhp-method__polygon-dot">
                        <div class="polygon-dot"><span></span></div>
                        <div class="polygon-dot"><span></span></div>
                        <div class="polygon-dot"><span></span></div>
                        <div class="polygon-dot"><span></span></div>
                        <div class="polygon-dot"><span></span></div>
                    </div>
                </div>
                <div class="cmhp-method__polygon-text">
                    <div>
                        <p>전 디바이스에 최적화된 <span class="not-br-768"></span>반응형 웹 설계</p>
                    </div>
                    <div>
                        <p>UX 흐름을 고려한 <span class="not-br-768"></span>사용자 중심 정보 구조</p>
                    </div>
                    <div>
                        <p>일관된 브랜드 톤과 <span class="not-br-768"></span>메시지 적용</p>
                    </div>
                    <div>
                        <p>관리자 페이지 제공으로 <span class="not-br-768"></span>손쉬운 콘텐츠 수정</p>
                    </div>
                    <div>
                        <p>유지보수와 향후 확장을 <span class="not-br-768"></span>고려한 개발 구조</p>
                    </div>
                </div>
            </div>

            <div class="cmhp-method__text">
                우리는 단순한 홈페이지가 아닌, <span class="br-500"></span><span class="mark-or">기업의 방향성과 성장을 담아낼 수 있는 웹사이트</span>를 만듭니다.
            </div>
              
        </div>
    </div>
</section>

<script>
    import "../../../public/js/commercialHp/commercialHp6.js";
</script>
