---
import "../../../public/css/commercialHp/commercialHp5.css";
---

<section id="commercialHpDef" class="cmhp-section">
    <div class="cmhp-container">
        <div class="cmhp-def__title">
            <h3 class="cmhp-heading">
                <span class="color-or">커머셜</span> 홈페이지란?
            </h3>
            <div class="cmhp-desc">
                <p>커머셜 홈페이지는 단지 '보여주는' 것이 아니라 <span class="color-or bold">동선을 설계하는 웹사이트</span>입니다.</p>
            </div>
        </div>
        <div class="cmhp-def__content">
            <div class="cmhp-def__fade-slider">
                <div class="slider-wrapper">
                    <div class="slider-item active">
                        <div class="item-img">
                            <img src="/public/img/commercialHp/section5_slide_img01.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="item-img">
                            <img src="/public/img/commercialHp/section5_slide_img02.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="item-img">
                            <img src="/public/img/commercialHp/section5_slide_img03.jpg" alt="">
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="item-img">
                            <img src="/public/img/commercialHp/section5_slide_img04.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="cmhp-def__pagination" data-slide="cmhp-def__fade-slider">
                <div class="active">
                    <span class="paging__number">1.</span>
                    <p>
                        기업의 목적에 따라 <br />
                        핵심 기능과 <span class="highlight-or">콘텐츠를 설계</span>합니다
                    </p>
                </div>
                <div>
                    <span class="paging__number">2.</span>
                    <p>
                        사용자가 자연스럽게 정보를 탐색하고 <br />
                        <span class="highlight-or">문의로 이어지도록 유도</span>합니다
                    </p>
                </div>
                <div>
                    <span class="paging__number">3.</span>
                    <p>
                        고객, 파트너, 투자자, 인재 등 <br />
                        <span class="highlight-or">다양한 방문자 유형을 고려</span>합니다
                    </p>
                </div>
                <div>
                    <span class="paging__number">4.</span>
                    <p>
                        <span class="highlight-or">관리자가 쉽게 운영</span>할 수 있도록 <br />
                        콘텐츠 관리 시스템(CMS)을 적용합니다
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    import "../../../public/js/commercialHp/commercialHp5.js";
</script>
