---
import "../../../public/css/commercialHp/commercialHp6.css";
---

<section id="commercialHpMethod" class="cmhp-section">
    <div class="cmhp-container">
        <div class="cmhp-method__title">
            <h3 class="cmhp-heading">
                <span class="color-or">와커스의 </span> 커머셜 웹 구축 방식
            </h3>
            <div class="cmhp-desc">
                <p>와커스는 단순한 디자인이 아닌, <span class="bold">"기업의 목적에 맞는 구조 설계"</span>부터 시작합니다.</p>
            </div>
        </div>
        <div class="cmhp-method__content">
            <div class="cmhp-method__polygon-slider">
                <div class="cmhp-method__polygon-slider-wrapper">
                    <div class="polygon-slider-img"></div>
                </div>
            </div>
            <div class="cmhp-method__text">
                우리는 단순한 홈페이지가 아닌, <span class="mark-or">기업의 방향성과 성장을 담아낼 수 있는 웹사이트</span>를 만듭니다.
            </div>
        </div>
    </div>
</section>

<script>
    import "../../../public/js/commercialHp/commercialHp6.js";
</script>
