<section class="section1 ">
    <div class="text-content">
        <h3>커머셜 홈페이지, <strong class="color-or">왜 </strong> 지금 필요한가요?</h3>
        <p>지금 운영 중인 홈페이지, 우리 회사의 목적에 맞게 작동하고 있나요?</p>
        <p>많은 기업들이 여전히 디자인 중심의 소개형 홈페이지에 머물러 있습니다.</p>
    </div>
    <div class="image-content">
        <div class="men-image-box">
            <div class="img-wrap">
                <img src="" alt="">
            </div>
            <div class="txt-wrap">
                <p>단순한 정보제공?</p>
            </div>
        </div>
        <div class="men-image-box">
            <div class="img-wrap">
                <img src="" alt="">
            </div>
            <div class="txt-wrap">
                <p>회사 소개?</p>
            </div>
        </div>
    </div>
    <div class="marquees">
        <div class="marquee">Why is a commercial website necessary right now?</div>
        <div class="marquee">Why is a commercial website necessary right now?</div>
    </div>
</section>


