@charset "utf-8";

/* .mobile_block {
  display: none;
}
@media screen and (max-width: 768px) {
  .pc_block {
    display: none;
  }
  .mobile_block {
    display: block;
  }
} */

.sc_needs {
  /* height: 100vh; */
  position: relative;
  overflow: hidden;
}
.sc_needs .inner {
  background: #000;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc_needs .circle_path {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(18%);
}
.sc_needs .rotate_txt {
  position: absolute;
  width: 33%;
}
.sc_needs .rotate_txt img {
  animation: rotate forwards infinite 8s linear;
  width: 100%;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sc_needs .bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url("/img/medical/sc_needs_bg.png") no-repeat center center /
    cover;
  animation: bgScale forwards infinite 10s linear;
}
.sc_needs .txt {
  position: absolute;
  text-align: center;
  font-family: Paperlogy;
  font-weight: 600;
  line-height: 1.3;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s ease-in-out;
  transition-delay: 0.1s;
  height: 5.05vw;
  overflow: hidden;
}
.sc_needs .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sc_needs .box h3 {
  transition: 1s;
  font-size: 2.6vw;
  color: rgba(255, 255, 255, 0.2);
}

.sc_needs .txt.second {
  height: 8.33vw;
}
.sc_needs .txt.third {
  height: 10.4vw;
}
.sc_needs.active .txt {
  opacity: 1;
  transform: translateY(0);
}
.sc_needs .box {
  transition: 1s;
}
/* .sc_needs .txt.first .box {
  transform: translateY(0);
} */
.sc_needs .txt.second .box {
  transform: translateY(-1%);
}
.sc_needs .txt.third .box {
  transform: translateY(-33.3%);
}
.sc_needs .box h3.on {
  color: #fff;
  font-size: 3.6vw;
}

@keyframes bgScale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 768px) {
  .sc_needs .inner {
    height: 100svh;
  }
  .sc_needs .box h3 {
    font-size: 30px;
  }
  .sc_needs .box h3.on {
    font-size: 38px;
  }
  .sc_needs .txt {
    height: 150px;
  }
  .sc_needs .txt.second {
    height: 260px;
  }
  .sc_needs .txt.third {
    height: 260px;
  }
}

/* 영문 사이트 style */
.lang-en .sc_needs .box h3.on {
  font-size: 3.2vw;
}

@media screen and (max-width: 768px) {
  .lang-en .sc_needs .box h3.on {
    font-size: 36px;
  }

  .lang-en .sc-identity .keyword-swiper {
    height: 100px;
  }
}
