---
title: "Commercial Page"

import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts"; //타이틀이랑 웹사이트 설명 
import { ViewTransitions } from 'astro:transitions';  //페이지 이동시 부드럽게 페이지 전환 아스트로 설정이 2.0이여야한다 확인 후 넣어보자.

import "../../../public/css/homepage/section1.css"

import Head from '../../components/layout/Head.astro'; //메타태그들
import Header from '../../components/layout/Header.astro'; //진정한 헤더

import Loading from "../../components/Loading2.astro"; //상세 로딩
import MouseGrid from "../../components/MouseGrid.astro";   // 마우스 그리드 효과
import ScrollIndicator from "../../components/inc/ScrollIndicator.astro"; //스크롤 인디케이터

import CommercialHp01 from "../../components/commercialHomepage/CommercialHp01.astro";
import CommercialHp02 from "../../components/commercialHomepage/CommercialHp02.astro";
import CommercialHp03 from "../../components/commercialHomepage/CommercialHp03.astro";
import CommercialHp04 from "../../components/commercialHomepage/CommercialHp04.astro";
import CommercialHp05 from "../../components/commercialHomepage/CommercialHp05.astro";
import CommercialHp06 from "../../components/commercialHomepage/CommercialHp06.astro";
import CommercialHp07 from "../../components/commercialHomepage/CommercialHp07.astro";
---

<html lang="ko">
    <head>
        <Head title={SITE_TITLE} description={SITE_DESCRIPTION}/>
        <ScrollIndicator />
        <!-- <ViewTransitions /> -->
        <link rel="stylesheet" href="../../../public/css/homepage/section1.css">

        <script src="../../../public/js/homepage/homepage1.js"></script>
    </head>
    <body>
        <Header /> 
        
        <div id="smooth-wrapper">
            <div id="smooth-content">
                <CommercialHp01 />
                <CommercialHp02 />
                <CommercialHp03 />
                <CommercialHp04 />
                <CommercialHp05 />
                <CommercialHp06 />
                <CommercialHp07 />
            </div>
        </div>

    </body>
</html>