<section class="section sc_needs">
    <div class="inner">
      <div class="circle_path">
        <div class="bg"></div>
        <div class="rotate_txt">
          <img
            src="/img/medical/sc_needs_rotate.svg"
            alt="wacus medical hompage"
          />
        </div>
      </div>
      <div class="txt">
        <div class="box">
          <h3 class="on">
            Do hospitals <br class="mobile_block" />
            really need <br class="mobile_block" />a website?
          </h3>
          <h3>
            This is the most <br class="mobile_block" />
            frequently asked question <br class="mobile_block" />we get at WACUS.
          </h3>
          <h3>
            And we always say:
            <br class="mobile_block"/>
            “Yes.”
          </h3>
        </div>
      </div>
    </div>
  </section>