<section class="section sc_intro">
    <ul class="list">
        <li>
            <div class="_cover">
                <img src="/img/medical/sc_intro_img1.png" alt="">
            </div>
            <div class="txt_wrap">
                <strong>The First Online Encounter</strong>
                <p>
                    Patients meet your hospital online first. <br>
                    A website filled with reliable information plays a major role in their decision-making.
                </p>
            </div>
        </li>
        <li>
            <div class="_cover">
                <img src="/img/medical/sc_intro_img2.png" alt="">
            </div>
            <div class="txt_wrap">
                <strong>Building Brand Trust</strong>
                <p>
                    A hospital's trust and brand aren’t built through logos,<br class="br_none">
                    they are built through the website and its content.
                </p>
            </div>
        </li>
        <li>
            <div class="_cover">
                <img src="/img/medical/sc_intro_img3.png" alt="">
            </div>
            <div class="txt_wrap">
                <strong>Search Visibility and SEO</strong>
                <p>
                    If your hospital doesn’t appear in search results, <br class="br_none">
                    even the best care won’t matter.<br>
                    SEO is the foundation for being chosen.
                </p>
            </div>
        </li>
    </ul>
</section>